@charset "utf-8";


.icon-email{
    background: url('../img/email-search.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}

/* ---------blog-list-------- */
.blog-list{
    display: inline-block;
    margin-top: 10px;
}
.blog-list-li{
    float: left;
    width: 44%;
    height: 20px;
    background: url(../img/blog-arrow.png) no-repeat 0 8px;
    padding-left: 12px;
    background-size: 6px;
}
.blog-list-li a{
    font-size: 10px;
    color: #747474;
}
.blog-list-li a:hover{
    color: #e500a7;
    text-decoration: underline;
}
.blog-text{
    display: none;
}
/* ---------blog-list-------- */

/* ---------sendmail-------- */
input.sendmail{
    padding:5px;
    border: 1px solid #c8c3c6;
    width: 100%;
    height: 20px;
    margin: 0;
}
/* ---------/sendmail-------- */

/* --------btn-------- */
.btn_blog{
    position: absolute;
    right: 11px;
    width: 80px;
    font-size: 10px;
    height: 20px;
}
/* --------/btn-------- */

/* --------email-form-------- */
.email-form{
    position: absolute;
    left: 9px;
    right: 98px;
}
/* --------/email-form-------- */

/* --------pagin-------- */
.pagin-blog{
    font-family: 'Open Sans','sans-serif';
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    width: 222px;
}
.pagin-navigation{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    background: -webkit-linear-gradient(top, #e340b7 0%,#d10099 80%);
    background: linear-gradient(top, #e340b7 0%,#d10099 20%);
    color: #fff;
    padding: 8px 12px 12px 11px;
    display: inline-block;
    text-align: center;
}
.pagin-navigation:hover{
    background: -webkit-linear-gradient(top, #fd67d4 0%,#d10099 20%);
    background: linear-gradient(top, #fd67d4 0%,#d10099 80%);
    color: #fff;
    text-decoration: none;
}
/* --------/pagin-------- */

/* --------blog-navigation-------- */

.active{
    background: -webkit-linear-gradient(top, #fd67d4 0%,#d10099 20%);
    background: linear-gradient(top, #fd67d4 0%,#d10099 80%);
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.blog-navigation:hover{
    background: -webkit-linear-gradient(top, #fd67d4 0%,#d10099 20%);
    background: linear-gradient(top, #fd67d4 0%,#d10099 80%);
    color: #fff;
    text-decoration: none;
}
/* --------/blog-navigation-------- */

@media screen and (min-width: 730px){


    /* --------sendmail-------- */
    input.sendmail{
        height: 40px;
    }
    /* --------/sendmail-------- */

    /* --------email-form-------- */
    .email-form{
        right: 177px;
    }
    /* --------/email-form-------- */

    /* ---------btn------- */
    .btn_blog{
        width: 160px;
        right: 7px;
        height: 40px;
        font-size: 15px;
    }
    /* --------/btn-------- */

    /* --------pagin-------- */
    .pagin-blog{
        width: 358px;
        margin: 0 auto;
        padding-bottom: 42px;
    }
    /* --------/pagin-------- */
}
/* --------/tablet-------- */