@charset "utf-8";
/* ---------item-------- */
.item_blog p{
    text-align: left;
    text-indent: 0;
    margin-top: 1px;
    margin-bottom: 18px;
}
.item_blog form{
    height: 20px;
}
.icon-blog{
    background: url('../img/icon-freak.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.icon-email{
    background: url('../img/email-search.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.icon-posts{
    background: url('../img/iconnew.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
/* ---------show-all-blog-------- */
.show-all-blog{
    float: none;
    display: block;
    margin-bottom: 18px;
}
/* ---------/show-all-blog-------- */

/* ---------blog-list-------- */
.blog-list{
    display: inline-block;
}
.blog-list-li{
    float: left;
    width: 50%;
    height: 20px;
    background: url(../img/blog-arrow.png) no-repeat 0 5px;
    padding-left: 12px;
}
.blog-list-li a{
    font-size: 10px;
    color: #747474;
}
.blog-list-li a:hover{
    color: #e500a7;
    text-decoration: underline;
}
/* ---------blog-list-------- */

/* ---------sendmail-------- */
input.sendmail{
    padding:5px;
    border: 1px solid #c8c3c6;
    width: 100%;
    height: 20px;
    margin: 0;
}
/* ---------/sendmail-------- */
/* --------btn-------- */
.btn_blog{
    position: absolute;
    right: 11px;
    width: 80px;
    font-size: 10px;
    height: 20px;
    background-color: #e500a7;

}
/* --------/btn-------- */
/* --------email-form-------- */
.email-form{
    position: absolute;
    left: 9px;
    right: 98px;
}
/* --------/email-form-------- */
/* --------blog-games-------- */
.blog-games{
    padding-top: 4px;
}
.blog-games li{
    height: 100%;
    width: 140px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 5px;
    vertical-align: top;
}
.blog-games li a{
    display: block;
    width: 140px;
    height: 105px;
    margin-bottom: 5px;
}
.blog-games li .blog-image{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.blog-games li .blog-games-title{
    font-size: 10px;
    color: #666;
    margin-bottom: 2px;
    line-height: 11px;
}
.blog-games li .blog-games-descr{
    margin-bottom: -4px;
}
.blog-games li .blog-games-descr,.blog-games li .blog-games-time{
    font-size: 10px;
}
/* --------/blog-games-------- */


@media screen and (min-width: 730px){
    /* --------icon-blog-------- */
    .icon-blog{
        background: url('../img/icon-freak2.png') no-repeat center;
        background-size: contain;
        overflow: hidden;
    }
    /* --------/icon-blog-------- */
}
/* --------/tablet-------- */