@charset "utf-8";
/* ---------item-------- */
.item_blog p{
    text-align: left;
    text-indent: 0;
    margin-top: 1px;
    margin-bottom: 18px;
    padding-left: 5px;
}
.item_blog form{
    height: 20px;
}
.icon-blog{
    background: url('../img/icon-freak.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.icon-email{
    background: url('../img/email-search.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.icon-posts{
    background: url('../img/iconnew.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
/* ---------/item-------- */
/* ---------show-all-blog-------- */
.show-all-blog{
    float: right;
    display: block;
    margin-bottom: 18px;
    margin-top: 2px;
    padding-right: 1px;
}
/* ---------/show-all-blog-------- */

/* ---------blog-list-------- */
.blog-list{
    display: inline-block;
    margin-top: 10px;
}
.blog-list-li{
    float: left;
    width: 44%;
    height: 20px;
    background: url(../img/blog-arrow.png) no-repeat 0 5px;
    padding-left: 12px;
    background-size: 6px;
}
.blog-list-li a{
    font-size: 10px;
    color: #747474;
}
.blog-list-li a:hover{
    color: #e500a7;
    text-decoration: underline;
}
.blog-text{
    display: none;
}
/* ---------blog-list-------- */

/* ---------sendmail-------- */
input.sendmail{
    padding:5px;
    border: 1px solid #c8c3c6;
    width: 100%;
    height: 20px;
    margin: 0;
}
/* ---------/sendmail-------- */

/* --------btn-------- */
.btn_blog{
    position: absolute;
    right: 11px;
    width: 80px;
    font-size: 10px;
    height: 20px;
}
.btn_read{
    display: none;
    width: 90px;
}
/* --------/btn-------- */

/* --------email-form-------- */
.email-form{
    position: absolute;
    left: 9px;
    right: 98px;
}
/* --------/email-form-------- */

/* --------blog-------- */
.blog-descr{
    position: relative;
    padding-bottom: 12px;
}
.blog-games{
    padding-top: 4px;
    text-align: center;
    padding-bottom: 15px;
}
.blog-games li{
    height: 100%;
    width: 140px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 5px;
    vertical-align: top;
}
.blog-games li .blog-link{
    display: block;
    width: 140px;
    height: 105px;
    margin-bottom: 5px;
}
.blog-games li .blog-image{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.blog-games li .blog-games-title{
    font-size: 10px;
    color: #666;
    margin-bottom: 2px;
    line-height: 11px;
    font-weight: normal;
    display: block;
    text-decoration: none;
    text-align: left;
}
.blog-games li .blog-games-title:hover{
    color: #e500a7;
}
.blog-games li .blog-games-descr{
    margin-bottom: 2px;
    font-size: 10px;
    padding: 0;
}
.blog-games li .blog-games-time{
    font-size: 10px;
    color: #a4a4a4;
    position: absolute;
    bottom: 0;
    display: block;
}
.blog-games-type{
    display: none;
}
.blog-games-text{
    display: none;
}
.blog-name{
    font-size: 14px;
}
.blog-title-email{
   border: none;
}
/* --------/blog-------- */

/* --------pagin-------- */
.pagin-blog{
    font-family: 'Open Sans','sans-serif';
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    width: 180px;
}
.pagin-navigation{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    background: -webkit-linear-gradient(top, #e340b7 0%,#d10099 80%);
    background: linear-gradient(top, #e340b7 0%,#d10099 20%);
    color: #fff;
    padding: 8px 12px 12px 12px;
    display: inline-block;
    text-align: center;
}
.pagin-navigation:hover{
    background: -webkit-linear-gradient(top, #fd67d4 0%,#d10099 20%);
    background: linear-gradient(top, #fd67d4 0%,#d10099 80%);
    color: #fff;
    text-decoration: none;
}

.blog-navigation{
    background: #e5e5e5;
    color: #666;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding: 8px 12px 12px 12px;
    margin: 0 2.5px;
    display: none;
}
.active{
    background: -webkit-linear-gradient(top, #fd67d4 0%,#d10099 20%);
    background: linear-gradient(top, #fd67d4 0%,#d10099 80%);
    color: #fff;
    text-decoration: none;
}
.blog-navigation:hover{
    background: -webkit-linear-gradient(top, #fd67d4 0%,#d10099 20%);
    background: linear-gradient(top, #fd67d4 0%,#d10099 80%);
    color: #fff;
    text-decoration: none;
}
/* --------/pagin-blog-------- */


@media screen and (min-width: 730px){
    /* --------icon-blog-------- */
    .icon-blog{
        background: url('../img/icon-freak2.png') no-repeat center;
        background-size: contain;
        overflow: hidden;
    }
    /* --------/icon-blog-------- */

    /* --------blog-------- */
    .blog-title{
        font-size: 29px;
        font-weight: normal;
        padding-bottom: 15px;
        margin-bottom: 14px;
    }
    .blog-title-email{
        font-size: 25px;
        font-weight: normal;
        padding-bottom: 15px;
        margin-bottom: -5px;
        border: none;
    }
    .blog-list{
        margin-top: 10px;
    }
    .blog-list-li{
        background: url(../img/blog-arrow.png) no-repeat 0 3px;
        padding-left: 17px;
        width: 28%;
    }
    .blog-list-li a{
        font-size: 15px;
    }
    .blog-games li{
        width: 100%;
        border-bottom: 1px solid #dedede;
        margin-bottom: 11px;
    }
    .blog-games li .blog-link{
        height: 128px;
        width: 170px;
        display: inline-block;
    }
    .blog-descr{
        display: inline-block;
        vertical-align: top;
        width: 500px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
    .blog-games li .blog-games-time{
        position: relative;
        display: inline-block;
        font-size: 12px;
    }
    .blog-games li .blog-games-title{
        font-size: 21px;
        line-height: 23px;
        width: 340px;

    }
    .blog-games li .blog-games-descr{
        font-size: 14px;
        margin-bottom: 6px;
    }
    .blog-games li .blog-image {
        margin-bottom: 10px;
    }
    .blog-games-type{
        display: inline-block;
    }
    .blog-games-text{
        display: inline;
    }
    .blog-text{
        display: block;
    }
    .blog-name{
        font-size: 30px;
    }
    .blog-games li .blog-link{
        padding-top: 4px;
    }
    .blog-games{
        padding-top: 0;
        text-align: left;
        margin-bottom: 94px;
    }
    .blog-navigation{
        display: inline-block;
    }
    /* --------/blog-------- */

    /* --------icon-------- */
    .icon-blog{
        margin: -5px 8px 0 0px;
    }
    .icon-email{
        margin: 1px 9px 0 2px;
    }
    /* --------/icon-------- */

    /* --------show-blog-------- */
    .show-all-blog{
        margin-top: 7px;
        padding: 0;
    }
    /* --------show-blog-------- */

    /* --------sendmail-------- */
    input.sendmail{
        height: 40px;
    }
    /* --------/sendmail-------- */

    /* --------email-form-------- */
    .email-form{
        right: 177px;
    }
    /* --------/email-form-------- */

    /* ---------btn------- */
    .btn_blog{
        width: 160px;
        right: 7px;
        height: 40px;
        font-size: 15px;
    }
    .btn_read{
        display: block;
        bottom: 0;
    }
    /* --------/btn-------- */

    /* --------item-blog-------- */
    .item_blog form{
        height: 47px;
    }
    /* --------item-blog-------- */

    /* --------pagin-------- */
    .pagin-blog{
        width: 358px;
        margin: 0 auto;
        padding-bottom: 42px;
    }
    /* --------/pagin-------- */
}
/* --------/tablet-------- */