@charset "utf-8";
/* --------------- guide_page --------------- */
.guide_page-read{
    font-size: 10px;
    margin-left:10px;
    font-weight: 300;
}
.guide_page time {
    float: right;
    margin-top: 3px;
}
.item_guide h3{
    margin-top: 20px;
    font-size: 10px;
    margin-bottom: 20px;
}
.item_guide p{
    margin-top:20px
}
.mobile_guide_page p{
    display: none;
}
.active{
    display:block;
}
.mobile_guide_page p:first-child{
    display: block;
}
.italic{
    font-size: 10px;
    font-style: italic;
}
.table-of-contents{
    margin-top: 20px;
}
.contents-item{
    font-size: 10px;
    display: list-item;
    list-style-image: url("../img/blog-arrow.png");
    list-style-position: inside;
    margin-top: 5px;
}
.present_pic{
    width: 170px;
    height: 130px;
}
.present_pic img{
  width: 100%;
  height: auto;
}
.read_more{
    display: block;
    margin-top: 10px;
    float: none;
}


/* --------------- /guide_page --------------- */
/* --------------- item --------------- */
.item_guide{
    padding-bottom: 17px;
}
.title_guide{
    border: none;
    padding-bottom: 8px;
}
.item__table{
    display: inline-block;
    height: 33px;
    background-color: #e500a7;
    width: 100%;
}
.column {
    display: inline-block;
    color: #666666;
    font-size: 13px;
}
.item__table-header{
    margin-top: 5px;
}
.item__table-row{
    display:block;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
    margin-top: 10px;
    margin-bottom: 13px;
}
.table-title{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: left;
    line-height: 10px;
}
.num {
    display: none;
    width: 3%;
}
.score {
    width: 9%;
    padding-bottom: 10px;
}
.flag {
    width: 7%;
}
.casino {
    width: 26%;
}
.welcome {
    width: 36%;
    vertical-align: middle;
}
.tag {
    display: none;
    width: 7%;
}
.software{
    display: none;
    width: 11%;
}
.btn_review{
    display: none;
}
.link-color {
    color: #e500a7;
}
/* --------------- medal --------------- */
.medal{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 14.5px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    font-size: 8px;
    font-weight: bold;
}

.medal_gold {
    background: url('../img/medal-gold.png') no-repeat center;
    background-size: contain;
    color: #C98000;
}
.medal_silver {
    background: url('../img/medal-silver.png') no-repeat center;
    background-size: contain;
    color: #666666;
}
.medal_bronze {
    background: url('../img/medal-bronze.png') no-repeat center;
    background-size: contain;
    color: #666666;
}
.medal_black{
    background: url('../img/medal-none.png') no-repeat center;
    background-size: contain;
    color: #fff;
}

/* --------------- /medal --------------- */
.new {
    background: url('../img/icon-new.png') no-repeat;
}
.tag_span {
    display: inline-block;
    height: 21px;
    width: 21px;
    vertical-align: middle;
    margin-right: 2px;
}
.content-item {
    font-size: 14px;
    padding: 0 10px;
    display: block;
    line-height: 20px;

}
.popup-software{
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.popup-software:hover div.popup-software__content{
    display: block;
}
.popup-software{
    position: relative;
}
.popup-software div{
    position: absolute;
    margin: 11px 0px 0 -31px;
    z-index: 10;
    display: none;
    padding: 10px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: 1px solid #dedede;
    width: 217px;
}
.popup-software div:after, .popup-software div:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popup-software div:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    left: 35px;

}
.popup-software div:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 8px;
    left: 35px;
}
.item-icon_cub{
    background: url('../img/icon-cub.png') no-repeat center;
    background-size: contain;
}
.item-icon_comments{
    background: url('../img/coments_icon.png') no-repeat center;
    background-size: contain;
}
/* --------------- /item --------------- */
/* --------------- /site --------------- */

/* --------------- Comments --------------- */
.comments-issue{
    color: #cb9652;
    font-weight: bold;
    font-size: 10px;
    line-height: 42px;
}
.comments-selection{
    font-weight: bold;
    color: #e500a7;
    font-size: 10px;
    margin-left: 20px;
}
.comments__scale{
    font-size: 10px;
    line-height: 17px;
}
.comments__scale-line{
    display: inline-block;
    width: 65px;
    height: 9px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: 1px solid #dedede;
    margin-left:10px;
    margin-right: 10px;
    vertical-align: middle;
}
.scale-line-yes{
    width: 90%;
    height: 100%;
    background: #ffbf00;
    border-right: 1px solid #dedede;
}
.scale-line-no{
    width: 0;
}
.line_no{
    margin-left:12px;
}
/* --------------- form --------------- */
form {
    font-size: 10px;
    width: 150px;
    overflow: hidden;
}
textarea{
    background: #fff;
    width: 100%;
    height: 33px;
    border: 1px solid #dedede;
    display:block;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 300;
    color:black;
    padding-top: 2px;
    overflow:hidden;
    margin-bottom: -4px;
}
input {
    width: 65%;
    height: 17px;
    border: 1px solid #dedede;
    display:block;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 300;
    color:#fff;
    padding-right:20px;
    margin-bottom: 5px;
    margin-top: 10px;
}
input[type=submit] {
    cursor:pointer;
}
input.name {
    color:#000;
    border: 1px solid #dedede;
}
input.email {
    color:#000;
    border: 1px solid #dedede;
}
input.Subject{
    color:#000;
    font-size: 14px;
    background:#fff;
    padding-left:25px;
    border: 1px solid #0175f1;
}
input:focus, textarea:focus {
    background-color: #f0f0f0;
    overflow: hidden;
}
/* --------------- /form --------------- */
.btn_post{
    font-size: 10px;
    width: 100px;
    height: 20px;
}
/* --------------- /Comments --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */
@media (min-width:730px){
    form {
        font-size: 14px;
        width: 303px;
        overflow: hidden;
    }
    textarea{
        height: 66px;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-left: 10px;
    }
    input {
        width: 65%;
        height: 34px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    input.email {
        padding-left: 10px;
    }
    /* --------------- Comments --------------- */
    .comments__scale{
        font-size: 14px;
        line-height: 34px;
    }
    .comments-issue{
        font-size: 14px;
    }
    .comments-selection{
        font-size:14px;
    }
    .comments__scale-line{
        width: 130px;
        height: 18px;
    }
    .btn_post{
        font-size: 14px;
        width: 165px;
        height: 36px;
    }
    /* --------------- /Comments --------------- */
    .italic{
        font-size: 14px;
    }
    .item_guide {
        padding-left: 10px;
    }
    .contents-item{
        font-size: 14px;
    }
    .item_guide p{
        font-size: 14px;
       }
    .item_guide h3{
        font-size: 18px;
    }
    .guide_page-read{
        font-size: 14px;
    }
    .guide_page time {
        margin-top: 8px;
     }
    .mobile_guide_page{
        display: block;
    }
    .read_more{
        display: none;
    }
    .mobile_guide_page p{
        display: block;
    }
    .present_pic{
        width: 340px;
        height: 260px;
    }
    /* --------------- item__table-row --------------- */
    .num{
        display: inline-block;
        width: 3%;
    }
    .item__table-header{
        padding-left: 17px;
    }
    .item__table-row{
        margin-left: 20px;
    }
    .score {width: 6%;}
    .flag {width: 5.5%;}
    .casino {width: 17%;}
    .tag{
        display: inline-block;
        width: 8%;
    }
    .welcome {width: 22%;}
    .software{
        display: inline-block;
        width: 13.4%;
    }
    .btn_review{
        display: inline-block;
    }
    .medal{
        width: 29px;
        height: 36px;
        line-height: 45px;
        font-size: 12px;
    }
    /* --------------- /item__table-row --------------- */
}
/* --------------- @media min-width:730px --------------- */
@media (min-width:730px){
    /* --------------- content__item --------------- */
    .content__item-icon{
        width: 33px;
        height: 33px;
        margin: -4px 11px 0 18px;
    }
    .content__item p{
        font-size: 20px;
    }
    .content__item-title{
        font-size:24px;
    }
    .show-all a{
        font-size: 14px;
        line-height: 34px;
    }
    /* --------------- /content__item --------------- */
}
/* --------------- /@media min-width:730px --------------- */