@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */


/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;

    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;

    height: 100px;
    background: red;
    z-index: 3;

}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
/* --------------- item --------------- */
.item{
    width: 758px;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #dedede;
    margin-bottom: 11px;
}
.item-title{
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    width: 750px;
    margin-left: 5px;
    line-height: 50px;
}
.item-logo{
    background: url('../img/icon-finger_up.png') no-repeat center;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-left: 7px;
    margin-right: 10px;
    margin-top: 9px;
    margin-bottom: 9px;
    float: left;
}
.show_all {
    display: inline-block;
    float: right;
    font-size: 14px;
    padding-right: 10px;
}
.show_all_link {
    color: #e500a7;
}
.top_casinos_ul {
    display: inline-block;
    height: 33px;
    background-color: #e500a7;
    width: 758px;
}
.wrap_li {
    display: inline-block;
    padding-left: 10px;
}
li {
    list-style-type: none;
}
.row_ul {
    display: inline-block;
    width: 736px;
    min-height: 30px;
    border-bottom: 1px solid #F2F2F2;
    margin-top: 10px;
    margin-left: 10px;
}
.casino_num {
    display: inline-block;
    width: 25px;
    min-height: 30px;
    padding-right: 5px;
}
.column {
    float: left;
    color: #666666;
    font-size: 13px;
    text-align: left;
    display: inline-block;
}
.score {
    display: inline-block;
    width: 41px;
    min-height: 30px;
    padding-bottom: 10px;
}
.flag {
    display: inline-block;
    width: 35px;
    min-height: 30px;
    padding-left: 10px;
}
.casino_name {
    display: inline-block;
    width: 140px;
    min-height: 30px;
}
.welcome {
    display: inline-block;
    width: 190px;
    min-height: 30px;
    margin-left: 5px;
}
.tag {
    display: inline-block;
    width: 66px;
    min-height: 30px;
}
.casino_software {
    display: inline-block;
    width: 93px;
    min-height: 30px;
}
.link_color {
    color: #e500a7;
}
a {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: .25px;
}
.review_btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: #920071;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    height: 21px;
    width: 66px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.play_btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    height: 21px;
    width: 56px;
    line-height: 22px;
    background-color: #920071;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    margin-left: 3px;
    text-align: center;
    color: #FFFFFF;
}
.column_name {
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    line-height: 33px;
}
.ukraine_flag {
    background: url('../img/flag-israel.png') no-repeat center;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.gold {
    background: url('../img/medal-gold.png') no-repeat center;
    width: 29px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-size: 12px;
    font-weight: bold;
    color: #C98000;
}
.silver {
    background: url('../img/medal-silver.png') no-repeat center;
    width: 29px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

.last_row_ul {
    display: inline-block;
    width: 736px;
    min-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.ex_prog_link {
    padding: 0 10px;
    display: block;
}
.ex_program {
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

/* --------------- /item --------------- */
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */