@charset "utf-8";
/* --------------- item --------------- */
.content__item{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #dedede;
    margin-bottom: 6px;
    padding: 7.5px;
}
.content__item-title{
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
}
.content__item-icon{
    background: url('../img/icon-finger_up.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
    margin-right: 8px;
    float: left;
}
.item_guide{
    padding-bottom: 17px;
}
.show-all {
    float: right;
    font-size: 10px;
    padding-right: 10px;
}
.show-all a{
    color: #e500a7;
}
.item__table{
    display: inline-block;
    height: 33px;
    background-color: #e500a7;
    width: 100%;
}
.column {
    display: inline-block;
    color: #666666;
    font-size: 13px;
}
.item__table__header{
    padding-left: 17px;
    margin-top: 5px;
}
.item__table-row{
    display:block;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 13px;
}
.header-title{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: left;
    line-height: 10px;
}
.num {
    display: none;
    width: 3%;
    padding-right: 23px;
}

.score {
    width: 9%;
    padding-bottom: 10px;
}
.flag {
    width: 7%;

}
.casino {
    width: 26%;

}
.welcome {
    width: 36%;
    vertical-align: middle;
}
.tag {
    display: none;
    width: 7%;
}
.software{
    display: none;
    width: 11%;
}
.link-color {
    color: #e500a7;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: .25px;
}
/* --------------- btn --------------- */
.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: #920071;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    height: 21px;
    width: 66px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.btn_review{
    display: none;
}
.btn_play{
    width: 56px;
    margin-left: -1px;
}
/* --------------- /btn --------------- */

.israel-flag {
    background: url('../img/flag-israel.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.israel-flag_light {
    background: url('../img/flag-israel_light.png') no-repeat;
}

/* --------------- medal --------------- */
.medal{
    width: 29px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-size: 12px;
    font-weight: bold;
}
.medal_gold {
    background: url('../img/medal-gold.png') no-repeat center;
    color: #C98000;
}
.medal_silver {
    background: url('../img/medal-silver.png') no-repeat center;
    color: #666666;
}
.medal_bronze {
    background: url('../img/medal-bronze.png') no-repeat center;
    color: #666666;
}
.medal_black{
    background: url('../img/medal-none.png') no-repeat center;
    color: #fff;
}

/* --------------- /medal --------------- */
.new {
    background: url('../img/icon-new.png') no-repeat;
}
.tag_span {
    display: inline-block;
    height: 21px;
    width: 21px;
    vertical-align: middle;
    margin-right: 2px;
}
.content-item {
    font-size: 14px;
    padding: 0 10px;
    display: block;
    line-height: 20px;

}
.popup-software{
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.popup-software:hover div.popup-software__content{
    display: block;
}
.popup-software{
    position: relative;
}
.popup-software div{
    position: absolute;
    margin: 11px 0px 0 -31px;
    z-index: 10;
    display: none;
    padding: 10px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: 1px solid #dedede;
    width: 217px;
}
.popup-software div:after, .popup-software div:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popup-software div:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    left: 35px;

}
.popup-software div:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 8px;
    left: 35px;
}

/* --------------- /item --------------- */
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */
@media (min-width:730px){
    /* --------------- item__table-row --------------- */
    .num{
        display: inline-block;
        width: 3%;
    }
    .score {width: 6%;}
    .flag {width: 5.5%;}
    .casino {width: 17%;}
    .tag{
        display: inline-block;
        width: 8%;
    }
    .welcome {width: 22%;}
    .software{
        display: inline-block;
        width: 13.4%;
    }
    .btn_review{
        display: inline-block;
    }
    /* --------------- /item__table-row --------------- */
}