@charset "utf-8";
/* --------------- item_text --------------- */
.item_text .content__item-icon{
    background-image: url("../img/icon-freak.png");
}
.item_text{
    padding-bottom: 7px;
}
.item_text .content__item-title{
    margin-bottom: 20px;
}
.item_text p{
    margin-bottom: 6px;
    padding: 0 4px;
    line-height: 13px;
}
.item_text .content__item-title{
    height: 23px;
    border-bottom: none;
    line-height: 16px;
}
.text-more{
    display: none;
}
.item_text .show-all{
    float: none;
    margin-left: 5px;
}
/* -------------- /item_text --------------- */
@media (min-width: 768px){
    /* --------------- item_text --------------- */
    .item_text{
        padding: 15px 28px 30px 22px;
    }
    .item_text .content__item-icon{
        top: -1px;
        left: -4px;
    }
    .text-more{
        display: block;
    }
    .show-all-text{
        display: none;
    }
    .item_text .content__item-title{
        padding-left: 42px;
        height: 30px;
        border-bottom: 1px solid #dedede;
        font-size: 30px;
        margin-bottom: 24px;
        padding-top: 7px;
        padding-bottom: 42px;
    }
    .item_text p{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
    }
    /* --------------- item_text --------------- */
}