@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 08.10.2015

    placeholder

    fonts

    site

    logo

*/

/* --------- placeholder ------------ */
::-webkit-input-placeholder {
    color: #c8c3c6;
}
:-moz-placeholder {
    color: #c8c3c6;
}
.placeholder {
    color: #c8c3c6;
}
/* --------- /placeholder ----------- */

/* -------------- site -------------- */
.site {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
    font: 15px 'Calibri', sans-serif;
    background-image: url("../img/bg-body.jpg");
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 132px;
    margin-bottom: 14px;
    border-bottom: 4px solid #bfbfbf;
    background-color: #e500a7;
    z-index: 3;
}
.site__footer {
    z-index: 2;
    background-color: #e500a7;
}
/* -------------- /site -------------- */

/* --------------- btn --------------- */
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: .25px;
}
a:hover {
    color: #e500a7;
    text-decoration: underline;
}
.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: #920071;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    height: 21px;
    width: 66px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.btn_review{
    display: none;
}
.btn_play{
    width: 40px;
    height: 17px;
}
.btn_post{
    font-size: 10px;
    width: 100px;
    height: 20px;
}
.btn a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.btn:hover{
    background-color: #e500a7;
}
/* ----------- /btn ----------- */

/* ----------- site__header ----------- */
.site__header-layout{
    max-width: 960px;
    width: 100%;
    height: 132px;
    margin: 0 auto;
}
/* ------ /site__header-layout ------- */

/* -------------- logo --------------- */
.logo__name{
    display: none;
}
/* -------------- /logo --------------- */

/* ---------- header__menu ------------ */
.header__menu{
   height: 40px;
   background-color: #c1008d;
}
.header__menu-layout{
    display: table;
    width: 960px;
    margin: 0 auto;
}
.header__menu li a{
    color: #fff;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}
.header__menu > ul > li{
    display: table-cell;
    position: relative;
}
.header__menu > ul > li > a{
    display:block;
    height: 40px;
    padding: 9px 20px 0;
    font-size: 15px;
    text-align: center;
}
.header__menu > ul > li:hover > a{
    background-color: #920071;
}
.header__menu > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
}
.header__menu > ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding-bottom: 10px;
    line-height: 40px;
    background-color: #c1008d;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
.header__menu > ul ul li a{
    display: block;
    padding: 0 15px;
}
.header__menu > ul ul li a:hover{
    background-color: #e500a7;
}
/* ---------- /header__menu ----------- */

/* ------ site__content-layout -------- */
.site__content-layout{
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
/* ------ /site__content-layout ------- */

/* ---------- content__item ----------- */
.content__item{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #dedede;
    margin-bottom: 6px;
    padding: 7.5px;
}
.content__item-title{
    color: #666666;
    font-size: 14px;
    padding-bottom: 7px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 4px;
}
.content__item p{
    font-size: 10px;
}
.content__item-icon{
    background: url('../img/icon-finger_up.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
}
.content__item-name{
    display: inline-block;
    width: 67%;
    vertical-align: middle;
}
.show-all {
    float: right;
    font-size: 10px;
    padding-right: 10px;
}
.show-all a{
    color: #e500a7;
}
/* -------- /content__item ------------ */

/* ------------ site__aside ----------- */
.site__aside{
    width: 220px;
    margin-right: 10px;
}
.aside__search{
    position: relative;
    margin-bottom: 15px;
}
.aside__search-text{
    width: 100%;
    padding: 0 30px 0 10px;
    border: 1px solid #dedede;
    background-color: #fff;
    line-height: 32px;
}
.aside__search-button{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 31px;
    border: none;
    background: url("../img/icon-find.jpg") no-repeat 3px 50% #fff;
    text-indent: -9999px;
}
.aside__item{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 2px #ccc;
    background-color: #fff;
}
.aside__item h2{
    display: block;
    height: 38px;
    padding: 6px 13px 0;
    font-size: 18px;
    font-weight: normal;
    background-color: #f2f2f2;
    color: #666;
}
.aside__item a{
    display: block;
    height: 30px;
    margin: 0 12px;
    padding-left: 16px;
    border-top: 1px solid #ebebeb;
    color: #e500a7;
    line-height: 30px;
    background: url("../img/icon-list.png") no-repeat 2px 50% #fff;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.aside__item a:hover{
    opacity: .5;
}
.aside__item a:first-child{
    border-top: none;
}
/* ----------- /site__aside ----------- */

/* ----------- site__footer ----------- */
.site__footer-layout{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 11px 10px;
    font-size: 11.5px;
    text-align: center;
    background: url("../img/bg-footer.png") no-repeat 0 83%/147px 147px;
    color: #fff;
}
.site__footer-layout a{
    display: block;
    color: #fff;
}
.site__footer-layout a:hover{
    text-decoration: underline;
}
.footer__navigate{
    margin-bottom: 109px;
    text-align: left;
}
.footer__navigate dl{
    margin-bottom: 22px;
    border-bottom: 1px solid #fff;
}
.footer__navigate dt{
    margin-bottom: 12px;
    font-size: 17.5px;
}
.footer__navigate dd{
    padding: 7px 0 15px;
    border-top: 1px solid #fff;
}
.footer__navigate dd a {
    height: 13px;
    font-size: 13.5px;
}
.footer__menu{
    margin-bottom: 7px;
}
.footer__menu > a{
    margin-bottom: 3px;
}
.footer__logo{
    margin-bottom: 4px;
}
.footer__logo img{
    width: 58%;
}
/* ----------- /site__footer ---------- */
@media (min-width: 321px) {
    /* ------ site__footer-layout --------- */
    .site__footer-layout{
        background-position: -45px 91%;
        padding: 26px 0 10px;
        font-size: 14px;
    }
    .footer__navigate{
        margin-bottom: 207px;
    }
    .footer__navigate dl{
        margin-bottom: 33px;
    }
    .footer__navigate dt{
        padding:  0 16px;
        font-size: 18px;
        font-weight: 600;
    }
    .footer__navigate dd{
        padding:  0 16px;
        line-height: 32px;
    }
    .footer__navigate dd a {
        height: auto;
        font-size: 14px;
    }
    .footer__logo{
        margin-bottom: 9px;
    }
    .footer__logo img{
        width: auto;
    }
    .footer__menu{
        margin-bottom: 10px;
    }
    .footer__menu > a {
        margin-bottom: 6px;
    }
    .site__footer-layout a {
        color: #fff;
        display: block;
    }
    /* ------ /site__footer-layout -------- */
}

@media (min-width: 767px) {
    /* --------------- site --------------- */
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 309px;
    }
    .site__header{
        height: 193px;
        border-bottom-width: 3px;
    }
    .site__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 309px;
    }
    /* --------------- /site -------------- */

    /* ------ site__header-layout -------- */
    .site__header-layout{
        height: 150px;
        background: url("../img/bg-head.png") no-repeat 100% 100%;
    }
    /* ------ /site__header-layout ------- */

    /* -------------- logo --------------- */
    .logo{
        display: inline-block;
        margin-left: 15px;
        margin-top: 14px;
    }
    .logo img{
        display: block;
        margin: 0 auto 5px;
    }
    .logo img:first-child{
        margin-left: 91px;
    }
    /* -------------- /logo --------------- */
    /* --------------- content__item --------------- */
    .content__item-icon{
        width: 33px;
        height: 33px;
        margin: -5px 11px 0 0px;
    }
    .content__item p{
        font-size: 14px;
    }
    .content__item-title{
        font-size:24px;
    }
    .show-all a{
        font-size: 14px;
        line-height: 34px;
    }
    /* --------------- /content__item --------------- */

    /* --------------- btn --------------- */
    .btn{
        line-height: 22px;
    }
    .btn_play {
        height: 21px;
        width: 56px;
        margin-left: -1px;
    }
    .btn_post{
        font-size: 14px;
        width: 165px;
        height: 36px;
    }
    .btn_review{
        display: inline-block;
    }
    /* --------------- /btn --------------- */
    
    /* ------ site__footer-layout --------- */
    .site__footer-layout{
        position: relative;
        padding-top: 222px;
        padding-left: 20px;
        background-position: 0 -30px;
        text-align: left;
        background-size: auto;
    }
    .footer__logo{
        margin-bottom: 12px;
    }
    .footer__menu{
        position: absolute;
        left: 345px;
        bottom: -5px;
    }
    .footer__menu a{
        display: inline-block;
        height: 15px;
        margin-left: 2px;
        padding-left: 7px;
        border-left: 1px solid #fff;
        line-height: 15px;
    }
    .footer__navigate{
        position: absolute;
        top: 19px;
        right: 7px;
        margin-left: 52px;
    }
    .footer__navigate dl{
        display: inline-block;
        vertical-align: top;
        margin-left: 53px;
        font-size: 14px;
        line-height: 34px;
        border: none;
    }
    .footer__navigate dt{
        padding: 0;
        margin-bottom: 5px;
        color: #fff;
    }
    .footer__navigate dd{
        padding: 0;
        border-top: none;
        line-height: 23px;
    }
    /* ------ /site__footer-layout -------- */
}