@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 08.10.2015

    placeholder

    fonts

    site

    logo

*/

/* --------- placeholder ------------ */
::-webkit-input-placeholder {
    color: #c8c3c6;
}
:-moz-placeholder {
    color: #c8c3c6;
    padding-left: 7px;
}
.placeholder {
    color: #c8c3c6;
    padding-left: 7px;
}
/* --------- /placeholder ----------- */

/* -------------- site -------------- */
.site {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
    font: 10px 'Calibri', sans-serif;
    background-image: url("../img/bg-body.jpg");
    min-width: 320px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 69px;
    margin-bottom: 5.5px;
    border-bottom: 2px solid #bfbfbf;
    background-color: #e500a7;
    z-index: 3;
}
.site__footer {
    z-index: 2;
    background-color: #e500a7;
}
/* -------------- /site -------------- */

/* --------------- /site --------------- */

/* --------------- btn --------------- */
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: .25px;
}
a:hover {
    color: #e500a7;
}
.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: #920071;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    height: 21px;
    width: 66px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.btn_review{
    display: none;
}
.btn_play{
    width: 40px;
    height: 17px;
    line-height: 17px;
}
.btn_post{
    font-size: 10px;
    width: 100px;
    height: 20px;
}
.btn a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.btn:hover{
    background-color: #e500a7;
}
.btn_read{
    display: none;
    width: 90px;
}
/* ----------- /btn ----------- */
/* --------------- latest --------------- */
.majestic {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dedede;
    padding-bottom: 7px;
}
.majestic .dragons {
    position: relative;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 21px;
    width: 70%;
    margin-top: 9px;
}
.majestic .dungeons-rating-number {
    margin-top: 4px;
}
.majestic__slots {
    width: 62px;
    display: inline-block;
    vertical-align: middle;
}
.majestic__slots-logo img{
    display: block;
    margin: 0 auto;
    width: 56.5px;
    height: 31.5px;
}
.latest__player p{
    margin-bottom: 5px;
}
.latest__player h3{
    margin-bottom: 5px;
}
.latest .votes {
    margin-top: -3px;
    margin-left: 5px;
}

.latest .add-your {
    margin-top: 14px;
    margin-left: 5px;
}
.all_reviews{
    display: none;
}
.btn_play-now{
    height: 15px;
    width: 58px;
    font-size: 10px;
    line-height: 14px;
    margin-top: 10px;
    margin-left: 3px;
}
/* --------------- /latest --------------- */

/* --------------- single --------------- */
.medal_single{
    vertical-align: bottom;
    margin-right: 3px;
}
.comments__scale-title{
    display: inline-block;
    width: 60px;
}
.scale_single{
    margin-bottom: 5px;
}
.scale_single-line{
    margin-left: 1px;
    margin-right: 1px;
}
.scale_gold{
    width: 94%;
}
.scale_silver{
    width: 43%;
}
.scale_bronze{
    width: 15%;
}
.scale_blank{
    width: 0;
}
.add-your{
    font-size: 10px;
    margin-top: 12px;
}
.add-your ul{
    display: inline-block;
    vertical-align: middle;
}
ul.add-your__rating li {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label > .add-your__rating_medal {
    position: relative;
    display: inline-block;
    z-index: 3;
}
input[type="radio"]:checked + label > .add-your__rating-checked {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 23px;
    height: 23px;
    left: -4px;
    top: -3px;
    background: url("../img/hover-radio-medal.png")no-repeat;
    background-size: contain;
}
.dungeons{
    font-size: 10px;
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.dungeons__characteristics{
    font-size: 10px;
    font-weight: 700;
}
.dungeons__characteristics li{
    margin-bottom: 5px;
}
.dungeons__characteristics-red{
    padding-left: 2px;
    color:#e500a7;
    font-weight: 400;
}
.dungeons__characteristics-black{
    padding-left: 2px;
    font-weight: 400;
}
.review-stats{
    width: 63%;
    display: inline-block;
    vertical-align: top;
}
.review-stats p{
    margin-bottom: 8px;
    line-height: 13px;
}
.votes{
    margin-bottom: 10px;
    margin-top: 10px;
}
.dungeons>.read_more{
    display: none;
}
.dungeons>p{
    display: none;
}
.dragons{
    position: relative;
    border-bottom: 1px solid #dedede;
    margin-bottom: 6px;
}
.dungeons-rating{
    display: inline-block;
    vertical-align: middle;
    width: 195px;
    height: 18.5px;
    background: url("../img/votes-meda-blankl.jpg") repeat-x;
    background-size: contain;
}
.dungeons-rating>div{
    width: 85.5%;
    height: 100%;
    background: url("../img/votes-medal.jpg") repeat-x;
    background-size: contain;
}
.mobile-btn>.btn{
    width: 26.5px;
    height: 13px;
    float: right;
}
button img{
    position: absolute;
    width: 8.5px;
    height: 8.5px;
    top: 2px;
    margin-left: -4px;
}
.mobile-btn>button{
    margin-left: 4px;
}
.dungeons-rating-number{
    display: block;
    font-size: 10px;
    color:#c98000;
    vertical-align: middle;
    margin-top: 2px;
}
.mobile-btn {
    position: absolute;
    right: 11px;
    top: 3px;
}
.single-main-pic{
    position: relative;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 0px;
}
.single-main-pic img{
    width: 100%;
}
/* --------------- /single --------------- */


/* ----------- site__header ----------- */

.site__header-layout{
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 18.5px 10px 0;
}
.mobile-menu{
    padding-top: 13.5px;
}
.open-menu{
    position: absolute;
    top: 17px;
    right: 10px;
    width: 35px;
    padding-top: 30px;
    font-size: 14px;
    color: #fff;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    z-index: 9;
    cursor: pointer;
}
.open-menu:before,
.open-menu:after,
.open-menu span{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
    transition: border-top-color .3s ease;
    -webkit-transition: border-top-color .3s ease;
}
.open-menu:before,
.open-menu:after{
    content: '';
    top: 0;
}
.open-menu:after{
    top: 20px;
}
.close-menu{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.close-menu > div{
    display: none;
}
.close-menu:before,
.close-menu:after,
.close-menu span{
    border-radius: 0;
    border-top-color: #000;
}
.header__search{
    position: relative;
    margin-left: 63px;
    margin-right: 55px;
    z-index: 10;
}
.header__search-text{
    -webkit-appearance: none;
    width: 100%;
    padding: 0 30px 0 10px;
    border: 1px solid #dedede;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    background-color: #fff;
    line-height: 25px;
}
.header__search-button{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 27px;
    height: 22px;
    border: none;
    background: url("../img/icon-find.jpg") no-repeat 3px 50%/15px 15px #fff;
    text-indent: -9999px;
}
.mobile-menu .header__search{
    margin-left: 16px;
}
.mobile-menu .header__search-text{
    line-height: 33px;
}
.mobile-menu .header__search-button{
    height: 31px;
}
/* ------ /site__header-layout ------- */

/* -------------- logo --------------- */
.logo{
    position: absolute;
    top: 3px;
    left: 5px;
}
.logo img{
    width: 58px;
    height: 58px;
}
.logo__name{
    display: none;
}
/* -------------- /logo --------------- */

/* ---------- header__menu ------------ */
.header__menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 69px;
    border-top: 1px solid #efefef;
    background-color: #fff;
    z-index: 7;
}
.header__menu li{
    position: relative;
}
.header__menu li a{
    display: block;
    height: 50px;
    padding-left: 65px;
    font-size: 14px;
    line-height: 50px;
    color: #000;
    border-bottom: 1px solid #efefef;
    text-transform: uppercase;
}
.header__menu li a:hover,
.header__menu li.active > a{
    background-color: #920071;
    color: #fff;
}
.header__menu li.active a{
    cursor: default;
}
.header__menu li.active > a{
    border-bottom: 1px solid #dd00a1;
}
.header__menu > ul > li > a:before,
.header__menu > ul > li > a:after{
    content: '';
    position: absolute;
    top: 22px;
    left: 37px;
    width: 8px;
    height: 8px;
    background: url("../img/icon-list.png") no-repeat -29px 0/auto 8px;
    opacity: 1;
}
.header__menu > ul > li > a:after,
.header__menu > ul > li > a:hover:before,
.header__menu > ul > li.active > a:before{
    background-position: 0 0;
    opacity: 0;
}
.header__menu > ul > li > a:hover:after,
.header__menu > ul > li.active > a:after{
    opacity: 1;
}
.header__menu li ul{
    display: none;
    background-color: #c1008d;
}
.header__menu li ul a{
    color: #fff;
    border-bottom-color: #dd00a1;
}
.header__menu li ul a:hover{
    background-color: #e500a7;
}
/* ---------- /header__menu ----------- */

/* ------ site__content-layout -------- */
.site__content-layout{
    position: relative;
    max-width: 979px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
/* ------ /site__content-layout ------- */

/* ---------- content__item ----------- */
.content__item{
    width: 100%;
    background-color: white;
    margin: 0 auto 10px;
    border: 1px solid #dedede;
    padding: 6.5px;
    overflow: hidden;
    line-height: 20px;
}
.content__item-title{
    color: #666;
    font-size: 14px;
    padding-bottom: 7px;
    border-bottom: 1px solid #dedede;
    position: relative;
    margin-bottom: 4px;
    padding-left: 27px;
    font-weight: normal;
}
.content__item p{
    font-size: 10px;
    text-align: justify;
}
.content__item-icon{
    position: absolute;
    left: 1px;
    top: 1px;
    background: url('../img/icon-finger_up.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
}
.item-icon_freak{
    background: url('../img/icon-freak.png') no-repeat center;
    background-size: contain;
}
.item-icon__comments{
    position: absolute;
    left: 1px;
    top: -1px;
    background: url('../img/coments_icon.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
}
.item-icon__arrow{
    position: absolute;
    left: 1px;
    top: -1px;
    background: url('../img/icon-arrow.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
}
.content__item-name{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.show-all {
    float: right;
    font-size: 10px;
    padding-right: 10px;
}
.show-all a{
    color: #e500a7;
}
.show-all a:hover{
    text-decoration: underline;
}
.content__item_table{
    padding: 7px 0 0px;
}
.content__item-icon_table {
    left: 9px;
}
.mobile_title {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}
.title_single{
    width: 62%;
}
/* -------- /content__item ------------ */

/* ---------item-------- */
.item_blog p{
    text-align: left;
    text-indent: 0;
    margin-top: 1px;
    margin-bottom: 9px;
    padding-left: 5px;
}
.item_blog form{
    height: 20px;
}
.show-all-blog{
    float: right;
    display: block;
    margin-top: 2px;
    padding-right: 1px;
}
.read_more{
    display: block;
    float: none;
}
/* ---------/item-------- */

/* --------------- item_guide --------------- */
.item_guide{
    padding-bottom: 9px;
}
.title_guide{
    border: none;
    padding-left: 32px;
    padding-bottom: 0px;
}
.item__table {
    display: inline-block;
    width: 100%;
    font-size: 10px;
    vertical-align: middle;
}
.column {
    display: inline-block;
    color: #666666;
    font-size: 10px;
}
.item__table-header{
    height: 23px;
    background-color: #e500a7;
    padding-left: 6px;
}
.item__table-row{
    display:block;
    width: 100%;
    margin-top: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    line-height: 12px;
}
.item__table>li{
    border-bottom: 1px solid #F2F2F2;
}
.item__table>li:last-child{
    border: none;
}
.table-title{
    display: inline-block;
    color: #fff;
    font-size: 10px;
    text-align: left;
    line-height: 23px;
}
.item-icon_cub{
    background: url('../img/icon-cub.png') no-repeat center;
    background-size: contain;
}
.item-icon_comments{
    background: url('../img/coments_icon.png') no-repeat center;
    background-size: contain;
}
.num {
    display: none;
    width: 3%;
    vertical-align: middle;
}
.score {
    width: 8%;
    vertical-align: middle;
    text-align: center;
}
.flag {
    width: 10%;
    vertical-align: middle;
    text-align: center;
}
.icon_flag-retina{
    width: 12px;
    height: 12px;
}
.casino {
    width: 26%;
    vertical-align: middle;
}
.welcome {
    width: 37%;
    vertical-align: middle;
}
.tag {
    display: none;
    width: 7%;
    vertical-align: middle;
}
.software{
    display: none;
    width: 11%;
    vertical-align: middle;
}
.btn_review{
    display: none;
}
.link-color {
    color: #e500a7;
}
.link-color:hover{
    text-decoration:underline;
}
.new {
    background: url('../img/icon-new.png') no-repeat;
}
.tag_span {
    display: inline-block;
    height: 21px;
    width: 21px;
    vertical-align: middle;
    margin-right: 2px;
}

/* --------------- /item_guide --------------- */

/* --------------- flag --------------- */
.icon-flag{
    display: inline-block;
    text-align: center;
    width: 12px;
    height: 12px;
    margin-top: 4px;
}
.israel-flag{
    background: url('../img/flag-israel.png') no-repeat center;
    background-size: cover;
}
.israel-flag_light{
    background: url('../img/flag-israel_light.png') no-repeat center;
    background-size: cover;
}

/* --------------- /flag --------------- */

/* --------------- medal --------------- */
.medal{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 14.5px;
    height: 18px;
    line-height: 23px;
    font-size: 8px;
}
.medal_gold {
    background: url('../img/medal-gold.png') no-repeat center;
    background-size: contain;
    color: #C98000;
}
.medal_silver {
    background: url('../img/medal-silver.png') no-repeat center;
    background-size: contain;
    color: #666666;
}
.medal_bronze {
    background: url('../img/medal-bronze.png') no-repeat center;
    background-size: contain;
    color: #666666;
}
.medal_black{
    background: url('../img/medal-none.png') no-repeat center;
    background-size: contain;
    color: #fff;
}
/* --------------- /medal --------------- */

/* --------------- popup --------------- */
.popup-software{
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.popup-software:hover div.popup-software__content{
    display: block;
}
.popup-software{
    position: absolute;
}
.popup-software div{
    position: absolute;
    margin: 11px 0px 0 -31px;
    z-index: 10;
    display: none;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: 1px solid #dedede;
    width: 217px;
}
.popup-software div:after, .popup-software div:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popup-software div:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    left: 35px;

}
.popup-software div:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 8px;
    left: 35px;
}
/* --------------- /popup --------------- */
/* --------------- related guides  --------------- */
.wrap__related{
    text-align: center;
}
.related{
    width: 287px;
    display: inline-block;
    position: relative;
    margin-left: -2px;
    text-align: left;
}
.related__game{
    display: inline-block;
    height: 126px;
    width: 140px;
    margin-left: 2px;
    margin-bottom: 8px;
    position: relative;
    vertical-align: middle;
}
.game-name{
    font-size: 10px;
    height: 25px;
    width: 100%;
    display: inline-block;
    background: #F2F2F2;
    text-align: center;
    padding-top: 5px;
}
.game-name span:last-child{
    position: relative;
    z-index: 5;
  }
.hover-game__bg{
    height: 100%;
    width: 100%;
    margin-left: -10px;
    position: absolute;
    background: #e500a7;
    z-index: 2;
    overflow: hidden;
}
.hover-game__bg:after{
    content: "";
    height: 94px;
    width: 94px;
    top: -22px;
    left: -22px;
    position: absolute;
    background: url("../img/logo_game.png") no-repeat center;
    z-index: 3;
    background-size: contain;
}
.hover-game:after{
    content: "";
    height: 19px;
    width: 19px;
    left: 50%;
    margin-left: -17px;
    top: 50%;
    margin-top: 1px;
    position: absolute;
    background: url("../img/playHover.png") no-repeat center;
    z-index: 3;
    background-size: contain;
}
.hover-game:before{
    content: " ";
    width: 34px;
    height: 34px;
    position: absolute;
    background-color: #fff;
    left: 50%;
    margin-left: -27px;
    top: 50%;
    margin-top: -6px;
    border-radius: 50%;
    z-index: 3;
}
.hover-game {
    bottom: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    position: absolute;
    z-index: 1;
    right: 0;
    background: #e500a7;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    height: 105px;
    top: 0;
    left: 10px;
}
.game_link{
    color:#666666;
}
.game_img {
    height: 105px;
    width: 100%;
    float: left;
}
.medal_game{
   margin-top: -2px;
}
.hover-game:hover:after{
    opacity: .5;
}
.hover-game:hover .game-name {
    opacity: .5;
}
.related__game:hover .hover-game {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    }
.related__game:hover .game-name {
    opacity: 1;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: normal;
    padding-left: 0;
    padding-top: 0;
    z-index: 4;
}
.mobile-none{
    display: none;
}
.related__game:hover .game-name:before{
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.game-name:before {
    content: '';
    bottom: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    position: absolute;
    z-index: 1;
    height: 74px;
    left: 0;
    right: 0;
    background: #e500a7;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.related__game:hover .medal_game{
    display: none;
}
/* --------------- /related guides  --------------- */

/* ------------ site__aside ----------- */
.aside__search{
    display: none;
    position: relative;
    margin-bottom: 15px;
}
input.aside__search-text,
input.aside__subscribe-email{
    width: 100%;
    height: 33px;
    padding: 0 10px;
    border: 1px solid #dedede;
    background-color: #fff;
    line-height: 32px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}
input.aside__search-text{
    padding-right: 30px;
}
.aside__search-button{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 31px;
    border: none;
    background: url("../img/icon-find.jpg") no-repeat 3px 50%/17px 17px #fff;
    text-indent: -9999px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.aside__search-button:hover{
    opacity: .5;
}
.aside__item{
    margin-bottom: 15px;
    padding-bottom: 13px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 2px #ccc;
    background-color: #fff;
    overflow: hidden;
}
.aside__item h2{
    display: block;
    height: 38px;
    padding: 6px 13px 0;
    font-size: 18px;
    font-weight: normal;
    background-color: #f2f2f2;
    color: #666;
}
.aside__item a{
    display: block;
    height: 30px;
    margin: 0 12px;
    padding-left: 16px;
    border-top: 1px solid #ebebeb;
    color: #e500a7;
    line-height: 30px;
    background: url("../img/icon-list.png") no-repeat -27px 50%/auto 8px #fff;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.aside__item a:hover{
    opacity: .5;
}
.aside__item a:first-child{
    border-top: none;
}
.aside__item-subscribe{
    padding: 10px 14px 0;
    line-height: 12px;
    color: #666;
}
.aside__item-subscribe p{
    font-size: 10px;
    margin-bottom: 7px;
}
input.aside__subscribe-email{
    margin-bottom: 7px;
}
input.aside__subscribe{
    width: 125px;
    line-height: 21px;
    border: none;
    color: #fff;
    background-color: #920071;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
input.aside__subscribe:hover{
    opacity: .7;
}
/* ----------- /site__aside ----------- */

/* ----------- site__footer ----------- */
.site__footer-layout{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 10px 10px;
    font-size: 11.5px;
    text-align: center;
    background: url("../img/bg-footer.png") no-repeat 0 83%/147px 147px;
    color: #fff;
}
.site__footer-layout a{
    display: block;
    color: #fff;
}
.site__footer-layout a:hover{
    text-decoration: underline;
}
.footer__navigate{
    margin-bottom: 109px;
    text-align: left;
}
.footer__navigate dl{
    height: 142px;
    margin-bottom: 22px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
.footer__navigate dt{
    margin-bottom: 12px;
    font-size: 17.5px;
}
.footer__navigate dd{
    padding: 7px 0 15px;
    border-top: 1px solid #fff;
}
.footer__navigate dd a {
    height: 13px;
    font-size: 13.5px;
}
.footer__menu{
    margin-bottom: 7px;
}
.footer__menu > a{
    margin-bottom: 3px;
}
.footer__logo{
    margin-bottom: 4px;
}
.footer__logo img{
    width: 58%;
}
/* ----------- /site__footer ---------- */
/* --------------- Comments --------------- */
.comments-issue{
    color: #cb9652;
    font-weight: bold;
    font-size: 10px;
    line-height: 27px;
}
.comments-selection{
    font-weight: bold;
    color: #e500a7;
    font-size: 10px;
    margin-left: 20px;
}
.comments__scale{
    font-size: 10px;
    line-height: 17px;
}
.comments__scale-line{
    display: inline-block;
    width: 59px;
    height: 9px;
    box-shadow: 0px 0px 5px 0px #dedede inset;
    border: 1px solid #dedede;
    margin-left:10px;
    margin-right: 10px;
    vertical-align: middle;
}
.comments-count{
    font-size: 10px;
    float: right;
    font-style: italic;
}
.comments-login{
    color:#e500a7;
    font-size: 10px;
    display: block;
}
.comments-time{
    color:#dedede;
    font-size: 10px;
    margin-bottom: 5px;
}
.comments{
    margin-bottom: 10px;
}
/* --------------- /Comments --------------- */

/* --------------- icon-posts --------------- */
.icon-posts{
    background: url('../img/iconnew.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
/* --------------- /icon-posts --------------- */

/* --------blog-------- */
.blog-list{
    display: inline-block;
    margin-top: 10px;
}
.blog-list-li{
    float: left;
    width: 44%;
    height: 20px;
    background: url(../img/blog-arrow.png) no-repeat 0 3px;
    padding-left: 13px;
    background-size: 6px;
}

.blog-list-li a{
    font-size: 10px;
    color: #747474;
}
.blog-list-li a:hover{
    color: #e500a7;
    text-decoration: underline;
}
.blog-text{
    display: none;
}
.blog-descr{
    position: relative;
    padding-bottom: 12px;
}
.blog-games{
    padding-top: 4px;
    text-align: center;
    padding-bottom: 15px;
}
.blog-games li{
    height: 100%;
    width: 140px;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
.blog-games li .blog-link{
    display: block;
    width: 140px;
    height: 105px;
    margin-bottom: 5px;
}
.blog-games li .blog-image{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.blog-games li:hover .blog-games-title {
    color: #e500a7;
}
.blog-games li .blog-games-title{
    font-size: 10px;
    color: #666;
    margin-bottom: 2px;
    line-height: 11px;
    font-weight: normal;
    display: block;
    text-decoration: none;
    text-align: left;
}
.blog-games li .blog-games-title:hover{
    color: #e500a7;
}
.blog-games li .blog-games-descr{
    margin-bottom: 6px;
    font-size: 10px;
    padding: 0;
    line-height: 13px;
}
.blog-games li .blog-games-time{
    font-size: 10px;
    color: #a4a4a4;
    position: absolute;
    bottom: 0;
    display: block;
}
.blog-games-type{
    display: none;
}
.blog-games-text{
    display: none;
}
.blog-name{
    font-size: 14px;
}
.blog-title-email{
    border: none;
}
.blog-navigation{
    background: #e5e5e5;
    color: #666;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding: 5px 12px 12px 12px;
    margin: 0 2.5px;
    display: none;
}
.icon-blog{
    background: url('../img/icon-freak.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
/*----- from-blog-games ------*/
.from-blog-games{
    padding-top: 4px;
    text-align: center;
    padding-bottom: 15px;
}
.from-blog-games li {
    height: 100%;
    width: 140px;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
.from-blog-list-li{
    float: left;
    width: 44%;
    height: 20px;
    background: url(../img/blog-arrow.png) no-repeat 0 3px;
    padding-left: 13px;
    background-size: 6px;
}
.from-blog-list-li a{
    font-size: 10px;
    color: #747474;
}
.from-blog-games li:hover a
{
    color: #e500a7;
}
.from-blog-descr {
    position: relative;
    padding-bottom: 12px;
}
.from-blog-descr p {
    padding: 0;
    margin-bottom: 5px;
    line-height: 15px;
}
.from-blog-games-text {
    display: none;
}
.from-blog-image {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.from-blog-link {
    display: block;
    width: 140px;
    height: 105px;
    margin-bottom: 5px;
}
.from-blog-games-title {
    font-size: 10px;
    color: #666;
    margin-bottom: 2px;
    line-height: 11px;
    font-weight: normal;
    display: block;
    text-decoration: none;
    text-align: left;
}
.from-blog-games-type {
    display: none;
}
.from-blog-games-time {
    font-size: 10px;
    color: #a4a4a4;
    position: absolute;
    bottom: 0;
    display: block;
}
.from-blog-games-descr {
    margin-bottom: 2px;
    font-size: 10px;
    padding: 0;
}
.from-icon-resent{
    background: url('../img/icon-freak2.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}

/*----- /from-blog-games ------*/
@media (min-width: 511px){
    .related{
        width: 432px;}
}
@media (min-width: 619px){
    .related{
        width: 575px;}
}
@media (min-width: 768px) {
    /* --------------- content__item --------------- */
    .content__item{
        padding: 15px 7px 30px;
        width: 730px;
    }
    .content__item_table{
        padding: 19px 0 0px;
    }
    .item_guide{
        padding: 13px 9px 5px;
    }
    .item_blog{
        position: relative;
        margin-bottom: 11px;
    }
    .item_resent{
        padding-bottom: 12px;
        margin-bottom: 15px;
    }
    .item_form{
        padding-bottom: 6px;
        padding-top: 12px;
    }
    .item-from{
        padding-bottom: 0px;
    }
    .item_list{
        padding-bottom: 21px;
    }
    .content__item-icon{
        top: -5px;
        left: 10px;
        width: 33px;
        height: 33px;
    }
    .content__item-icon_table{
        left: 18px;
    }
    .content__item-name{
        font-size: 24px;
    }
    .content__item p{
        font-size: 14px;
    }
    .content__item-title{
        padding-left: 55px;
        font-size:24px;
    }
    .title_guide{
        padding-left: 64px;
        margin-bottom: 12px;
    }
    .guide_comments {
        padding-bottom: 18px;
        margin-bottom: 21px;
        padding-top: 4px;
    }
    .show-all a{
        font-size: 14px;
        line-height: 34px;
            }
    .show-all {
        float: right;
        line-height: 40px;
        padding-right: 18px;
    }
    .item_blog p{
        margin-bottom: 12px;
        padding: 0 11px;
    }
    /* --------------- /content__item --------------- */

    /* -------------- site ---------------- */
    .site{
        font-size: 15px;
    }
    .site__header {
        height: 135px;
    }
    /* -------------- /site --------------- */

    /* ----------- site__header ----------- */
    .site__header-layout{
        width: 730px;
        margin: 0 auto;
        padding: 38px 0 0;
    }
    .mobile-menu{
        padding-top: 35px;
    }
    .open-menu{
        top: 38px;
        width: 68px;
        padding-top: 55px;
        font-size: 24px;
        text-align: center;
    }
    .open-menu:before,
    .open-menu:after,
    .open-menu span{
        border-top-width: 3px;
        border-bottom-width: 3px;
        top: 20px;
    }
    .open-menu:before{
        top: 0;
    }
    .open-menu:after{
        top: 40px;
    }
    .close-menu{
        top: 32px;
        right: 20px;
    }
    .header__search{
        margin-left: 133px;
        margin-right: 103px;
    }
    .header__search-text{
        line-height: 45px;
        padding-left: 18px;
        padding-right: 55px;
        font-size: 21px;
    }
    .header__search-button{
        width: 50px;
        height: 45px;
        background-position: 13px 50%;
        background-size: auto;
    }
    .mobile-menu .header__search{
        margin-left: 16px;
    }
    .mobile-menu .header__search-text{
        line-height: 45px;
    }
    .mobile-menu .header__search-button{
        height: 44px;
    }
    /* ------ /site__header-layout ------- */

    /* -------------- logo --------------- */
    .logo{
        top: 10px;
        left: 0;
    }
    .logo img{
        width: 112px;
        height: 112px;
    }
    /* -------------- /logo --------------- */

    /* -------------- scrool -------------- */
    .scrool{
        position: absolute;
        left: 50%;
        margin-left: 400px;
        width: 79px;
        height: 79px;
        background: url("../img/icon-scroll.png") no-repeat center;
        cursor: pointer;
        transition: opacity .3s ease;
        -webkit-transition: opacity .3s ease;
    }
    .scrool:hover{
        opacity: .7
    }
    .scrool:before,
    .scrool:after{
        display: none;
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -13px;
        width: 26px;
        height: 24px;
        background: url("../img/icon-scroll.png") no-repeat -27px -107px;
    }
    .scrool-to-top{
        bottom: 80px;
    }
    .scrool-to-top:after{
        display: block;
        top: -27px;
        background-position: -27px 0;
    }
    .scrool-to-bottom{
        top: 204px;
    }
    .scrool-to-bottom:after{
        display: block;
        bottom: -27px;
    }
    /* ------------- /scrool -------------- */

    /* ---------- header__menu ------------ */
    .header__menu{
        padding-top: 135px;
    }
    /* ---------- /header__menu ----------- */

    /* ------------ site__aside ----------- */
    .site__aside{
        width: 730px;
        margin: 0 auto;
        text-align: justify;
    }
    .aside__item{
        display: inline-block;
        vertical-align: top;
        width: 49.5%;
        margin-bottom: 12px;
    }
    .aside__item > div{
        height: 120px;
        overflow: hidden;
    }
    .aside-subscribe{
        width: 100%;
        height: 158px;
    }
    .aside-subscribe h2{
        width: 220px;
    }
    .aside__item-subscribe{
        padding: 12px 14px 0;
        line-height: 20px;
        padding-bottom: 25px;
    }
    .aside__item-subscribe p{
        font-size: 14px;
        margin-bottom: 15px;
    }
    input.aside__subscribe-email{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        max-width: 343px;
        line-height: 30px;
        margin-bottom: 15px;
        margin-right: 8px;
    }
    input.aside__subscribe{
        display: inline-block;
        vertical-align: middle;
        width: 180px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    /* ----------- /site__aside ----------- */

    /* ------ site__footer-layout --------- */
    .site__footer-layout{
        background-position: -45px 91%;
        padding: 26px 0 10px;
        font-size: 14px;
    }
    .footer__navigate{
        margin-bottom: 207px;
    }
    .footer__navigate dl{
        margin-bottom: 33px;
    }
    .footer__navigate dt{
        padding:  0 25px;
        font-size: 18px;
        font-weight: 600;
    }
    .footer__navigate dd{
        padding:  0 25px;
        line-height: 32px;
    }
    .footer__navigate dd a {
        height: auto;
        font-size: 14px;
    }
    .footer__logo{
        margin-bottom: 9px;
    }
    .footer__logo img{
        width: auto;
    }
    .footer__menu{
        margin-bottom: 10px;
    }
    .footer__menu > a {
        margin-bottom: 6px;
    }
    .site__footer-layout a {
        color: #fff;
        display: block;
    }
    /* ------ /site__footer-layout -------- */


    .btn_read{
        display: block;
        bottom: 0;
    }
    /* --------------- /content__item --------------- */
    .read_more{
        display: none;
    }
    /* --------show-blog-------- */
    .show-all-blog{
        margin-top: 7px;
        padding: 0;
        display: none;
    }
    .show-all-from{
        display: inline-block;
        position: absolute;
        top: -6px;
        right: 9px;
    }
    /* --------show-blog-------- */

    /* --------item-blog-------- */
    .item_blog form{
        height: 47px;
        position: relative;
    }

    /* --------item-blog-------- */
    /* --------blog-------- */
    .blog-title{
        font-size: 29px;
        font-weight: normal;
        margin-bottom: 22px;
        padding-top: 0;
        padding-bottom: 24px;
    }
    .review-title{
        padding-bottom: 17px;
    }
    .blog-resent{
        top: 3px;
        margin-bottom: 17px;
    }
    .blog-title-email{
        font-size: 25px;
        font-weight: normal;
        border: none;
        margin-bottom: 17px;
        padding-bottom: 0;

    }
    .blog-list{
        margin-top: 10px;
        margin-left: 8px;
    }
    .blog-list-li{
        background: url(../img/blog-arrow.png) no-repeat 0 3px;
        padding-left: 17px;
        width: 28%;
    }
    .blog-list-li a{
        font-size: 15px;
    }
    .blog-games li{
        width: 100%;
        border-bottom: 1px solid #dedede;
        margin-bottom: 11px;
    }

    .blog-games li .blog-link{
        height: 128px;
        width: 170px;
        display: inline-block;
    }
    .blog-descr{
        display: inline-block;
        vertical-align: top;
        width: 500px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
    .blog-games li .blog-games-time{
        position: relative;
        display: inline-block;
        font-size: 12px;
    }
    .blog-games li .blog-games-title{
        font-size: 21px;
        line-height: 23px;
        width: 340px;

    }
    .blog-games li .blog-games-descr{
        font-size: 14px;
        margin-bottom: 6px;
    }
    .blog-games li .blog-image {
        margin-bottom: 10px;
    }
    .blog-games-type{
        display: inline-block;
    }
    .blog-games-text{
        display: inline;
        line-height: 16px;
    }
    .blog-text{
        display: block;
        margin-top: -2px;
        margin-bottom: 15px;
    }
    .blog-text p {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .blog-name{
        font-size: 30px;
        width: 100%;
    }
    .blog-games li .blog-link{
        padding-top: 4px;
    }
    .blog-games{
        padding-top: 0;
        text-align: left;
        margin-bottom: 148px;
        margin-left: 7px;
        margin-top: -7px;
    }
    .blog-navigation{
        display: inline-block;
    }
    /* --------icon-blog-------- */
    .icon-blog{
        background: url('../img/icon-freak2.png') no-repeat center;
        background-size: contain;
        overflow: hidden;
    }
    /* --------/icon-blog-------- */

       .icon-resent{
        background: url('../img/iconnew.png') no-repeat center;
        background-size: contain;
        overflow: hidden;
           }
    /* --------/icon-------- */
    /* --------onepost-item-------- */
    .onepost-item{
        margin-bottom: 12px;
        padding-bottom: 23px;
    }
    /* --------onepost-item-------- */
    /* --------------- item_guide  --------------- */
    .column {
        font-size: 13px;
    }
    .table-title{
        font-size: 14px;
    }
    .num{
        display: inline-block;
        width: 3%;
        padding-left: 6px;
    }
    .item__table-header{
        height: 33px;
        padding-left: 13px;
        padding-top: 7px;
        margin-bottom: 14px;
    }
    .item__table{
       font-size: 16px;
       padding-bottom: 14px;
    }
   .item__table-row {
       padding-left: 15px;
       margin-top: 12px;
       padding-bottom: 10px;
       width: 100%;
    }

    .score {
        width: 5%;
        margin-right: 13px;
    }
    .flag {
        width: 5.5%;
        text-align: left;
    }
    .casino {width: 17%;}
    .tag{
        display: inline-block;
        width: 8.5%;
    }
    .welcome {width: 22%;}
    .software{
        display: inline-block;
        width: 14.4%;
    }
    .medal{
        width: 29px;
        height: 36px;
        line-height: 45px;
        font-size: 12px;
    }
    .icon-flag {
        width: 24px;
        height:24px;
    }
    .mobile_title {
        width: 84%;
        padding-top: 4px;
     }
    /* --------------- /item_guide  --------------- */
    /* --------------- related guides  --------------- */
    .medal_game{
        position: absolute;
        left: 9px;
        margin-top: -6px;
    }
    .game_img {
        height: 128px;
    }
    .hover-game {
        height: 135px;
    }
    .hover-game__bg:after{
        height: 128px;
        width: 131px;
        top: -33px;
        left: -56px;
    }
    .hover-game:before{
        opacity: 1;
        transition: opacity .3s ease;
        width: 68px;
        height: 68px;
        margin-left: -42px;
        margin-top: -18px;
    }
    .hover-game:hover:after{
        opacity: .5;
    }
    .hover-game:hover .game-name{
        opacity: .5;
    }

    .hover-game:after {
        height: 38px;
        width: 38px;
        margin-left: -25px;
        margin-top: -2px;
    }
    .game-name {
        font-size: 14px;
        height: 44px;
        padding-top: 8px;
        padding-left: 0px;
    }
    .game-name span:last-child{
        position: relative;
        z-index: 5;
    }
    .related__game{
        margin-left: 4px;
        height: 172px;
        width: 168px;
    }
    .related {
        width: 730px;
        margin-left: 5px;
    }
    .related__game:hover .game-name {
        opacity: 1;
        color: #F2F2F2;
        font-size: 20px;
        font-weight: normal;
        padding-left: 0;
        padding-top: 3px;
        z-index: 4;
    }
    .mobile-none{
        display: block;
    }
    /* --------------- /related guides  --------------- */

    /* --------------- btn --------------- */
    .btn{
        line-height: 20px;
    }
    .btn_play {
        height: 21px;
        width: 57px;
        margin-left: -1px;
    }
    .btn_post{
        font-size: 14px;
        width: 165px;
        height: 36px;
    }
    .btn_review{
        display: inline-block;
    }
    /* --------------- /btn --------------- */
    /* --------------- from-blog--------------- */
    .from-blog-link{
        height: 128px;
        width: 170px;
        display: inline-block;
    }
    .from-blog-games{
        margin-top: -12px;
        padding-bottom: 0;
    }
    .from-blog-games li {
        width: 170px;
        margin-left: 4px;
    }
    .from-blog-games-title {
        font-size: 17px;
        margin-bottom: 4px;
        line-height: 22px;
        font-weight: bold;
    }
    .from-blog-descr {
        padding-bottom: 20px;
    }
    .from-blog-descr p{
        padding: 0;
    }
    .from-blog-games-tim
     {
        font-size: 12px;
    }
    .from-icon-resent{

    }
    /* --------------- /from-blog--------------- */
    /* --------------- comments --------------- */
    .comments__scale{
        font-size: 14px;
        line-height: 34px;
    }
    .comments-issue{
        font-size: 14px;
    }
    .comments-selection{
        font-size:14px;
    }
    .comments__scale-line{
        width: 130px;
        height: 18px;
    }
    .comments-count{
        font-size: 12px;
        line-height: 38px;
    }
    .comments-login{
        font-size: 14px;
    }
    .comments-time{
        font-size: 12px;}
    .contents-item {
        font-size: 14px;
        height: 20px;
        padding-left: 17px;
        margin-top: 1px;
        background-size: 11px;
    }
    .item_guide p{
        margin-bottom: 20px;
    }
    .comments{
        margin-bottom: 40px;
    }

    /* --------------- /comments --------------- */
    /* --------------- dragons --------------- */
    .add-your {
        font-size: 18px;
        margin-top: 39px;
        margin-bottom: 3px;
        margin-left: 10px;
    }
    .dungeons{
        font-size: 16px;
        width: 50%;
        float: right;
        margin-top: 18px;
        padding-left: 15px;
    }
    .review-stats{
        width: 50%;
    }
    .review-stats p {
        display: none;
    }
    .dungeons__characteristics{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .comments__scale-title {
        width: 90px;
    }
    .medal_single {
        margin-right: 13px;
    }
    .dungeons__characteristics li {
        width: 49%;
        display: inline-block;
    }
    .dungeons>.read_more{
        display: block;
    }
    .dungeons>p {
        display: block;
        margin-bottom: 15px;
        padding-right: 11px;
    }
    .dungeons-rating{
        width: 380px;
        height: 37px;
        margin-left: 10px;
    }
    .dungeons-rating-number{
        display: inline-block;
        font-size: 14px;
        margin-left: 20px;
    }
    .mobile-btn>.btn{
        width: 53px;
        height: 26px;
        margin-top: 7px;
    }
    .mobile-btn>button{
        margin-left: 10px;
    }
    button img{
        width: 17px;
        height: 17px;
        top: 11.5px;
        margin-left: -8px;
    }
    .single-main-pic {
        margin-bottom: 9px;
        padding-left: 11px;
        padding-right: 11px;
    }
    .dragons {
        margin-bottom: 17px;
        padding-bottom: 19px;
    }
    .scale_single {
        margin-bottom: 8px;
    }
    ul.add-your__rating li {
        margin-left: 2px;
    }
    /* --------------- /dragons --------------- */

    /* --------------- latest --------------- */
    .latest__player{
        width: 45.5%;
        float:right;
    }
    .latest h3{
        margin-bottom: 17px;
        margin-top: 0;
    }
    .votes{
        margin-left: 10px;
    }
    .latest .add-your {
        margin-top: 31px;
        margin-left: 10px;
    }
    .majestic{
        margin-bottom: 15px;
        padding-bottom: 20px;
    }

    .latest__player p {
        margin-bottom: 17px;
        display: block;
    }
    .latest__player:last-child{
        margin-bottom: 14px;
    }
    .all_reviews{
        display: block;
        float: none;
    }
    .majestic__slots {
        width: 139px;
        margin-left: 40px;
    }
    .majestic__slots-logo img {
        width: 113px;
        height: 63px;
    }
    .btn_play-now {
        height: 31px;
        width: 170px;
        font-size: 14px;
        margin-left: -16px;
        margin-top: 18px;
    }
    .majestic .dungeons-rating{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .majestic .dragons {
        vertical-align: top;
        padding-left: 56px;
        margin-top: 2px;
        font-size: 18px;
        margin-left: 0px;
    }
    .majestic .dungeons-rating-number {
        font-weight: 700;
        display: inline-block;
        font-size: 14px;
        margin-left: 11px;
        margin-top: 0px;
        vertical-align: top;
        padding-top: 9px;
    }
    /* --------------- /latest --------------- */
}

@media (min-width: 1024px) {
    /* --------------- site --------------- */
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 309px;
    }
    .site__header{
        height: 193px;
        margin-bottom: 14px;
        border-bottom-width: 3px;
    }
    .site__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 309px;
    }
    /* --------------- /site -------------- */

    /* ------ site__header-layout -------- */
    .site__header-layout{
        width: 960px;
        height: 150px;
        background: url("../img/bg-head.png") no-repeat 97% 100%;
    }
    .header__search, .open-menu{
        display: none
    }
    /* ------ /site__header-layout ------- */

    /* ----------- header__menu ---------- */
    .header__menu{
        display: block;
        position: static;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        padding-top: 0;
        border-top: none;
        background-color: #c1008d;
    }
    .header__menu-layout{
        display: table;
        width: 960px;
        margin: 0 auto;
    }
    .header__menu li a{
        height: auto;
        color: #fff;
        border-bottom: none;
        text-transform: none;
        transition: background-color .3s ease;
        -webkit-transition: background-color .3s ease;
        line-height: 23px;
    }
    .header__menu > ul > li{
        display: table-cell;
        position: relative;
    }
    .header__menu > ul > li > a{
        display:block;
        height: 40px;
        padding: 9px 20px 0;
        font-size: 15px;
        text-align: center;
    }
    .header__menu > ul > li a:before,
    .header__menu > ul > li a:after{
        display: none;
    }
    .header__menu > ul > li:hover > a{
        background-color: #920071;
    }
    .header__menu > ul > li:hover ul{
        opacity: 1;
        visibility: visible;
    }
    .header__menu > ul ul{
        display: block!important;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        padding-bottom: 10px;
        background-color: #c1008d;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
        -webkit-transition: opacity .3s ease, visibility .3s ease;
    }
    .header__menu > ul ul li a{
        display: block;
        padding: 0 15px;
        line-height: 40px;
    }
    .header__menu > ul ul li a:hover{
        background-color: #e500a7;
    }
    /* ---------- /header__menu ---------- */

    /* -------------- logo --------------- */
    .logo{
        top: 14px;
        left: 15px;
    }
    .logo img{
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto 5px;
    }
    .logo img:first-child{
        width: 89px;
        height: 89px;
        margin-left: 91px;
    }
    /* -------------- /logo --------------- */

    /* ------------- scrool --------------- */
    .scrool{
        margin-left: 500px;
    }
    /* ------------ /scrool --------------- */

    /* ------ site__content-layout -------- */
    .site__content-wrap{
        float: right;
        margin-left: 230px;
    }
    /* ------ /site__content-layout -------- */

    /* ------------ site__aside ----------- */
    .aside__item > div{
        height: auto;
    }
    .site__aside{
        position: absolute;
        top: 0;
        left: 10px;
        width: 220px;
        margin-right: 10px;
        overflow: hidden;
    }
    .aside__item{
        width: 100%;
    }
    .aside__search{
        display: block;
    }
    .aside__item-subscribe h2{
        width: 100%;
    }
    input.aside__subscribe-email{
        width: 100%;
        margin-bottom: 15px;
    }
    input.aside__subscribe{
        width: 100%;
        line-height: 21px;
    }
    .aside-subscribe{
        height: 240px;
    }
    /* ----------- /site__aside ----------- */

   /* ------ site__footer-layout --------- */
    .site__footer-layout{
        position: relative;
        padding-top: 222px;
        padding-left: 20px;
        background-position: 0 -30px;
        text-align: left;
        background-size: auto;
    }
    .footer__logo{
        margin-bottom: 12px;
    }
    .footer__menu{
        position: absolute;
        left: 345px;
        bottom: -5px;
    }
    .footer__menu a{
        display: inline-block;
        height: 15px;
        margin-left: 2px;
        padding-left: 7px;
        border-left: 1px solid #fff;
        line-height: 15px;
    }
    .footer__navigate{
        position: absolute;
        top: 19px;
        right: 4px;
        margin-left: 52px;
    }
    .footer__navigate dl{
        display: inline-block;
        height: 135px;
        vertical-align: top;
        margin-left: 43px;
        font-size: 14px;
        line-height: 34px;
        border: none;
        overflow: hidden;
    }
    .footer__navigate dt{
        padding: 0;
        margin-bottom: 5px;
        color: #fff;
    }
    .footer__navigate dd{
        padding: 0;
        border-top: none;
        line-height: 23px;
    }
    /* ------ /site__footer-layout -------- */

}

