@charset "utf-8";
/* ---------icon-onepost-------- */
.icon-onepost{
    background: url('../img/icon-freak2.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
}
/* ---------/icon-onepost-------- */
/* ---------onepost-------- */
.onepost-time{
    display: inline-block;
    font-size: 10px;
    margin-bottom: 15px;
    padding: 0 8px;
}
.onepost-item p{
    text-align: left;
    margin-bottom: 10px;
    padding: 0 8px;
}
.onepost-title{
    font-size: 10px;
    margin-bottom: 10px;
    padding: 0 8px;
}
.onepost-read-more{
    display: block;
    float: none;
    padding: 0 8px;
    margin-bottom: 2px;
}
.onepost-tag{
    border-top: 1px solid #c8c3c6;
    border-bottom: 1px solid #c8c3c6;
    padding: 13px 0;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 3px;
}
.onepost-tag a{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 2px 17px;
    text-transform: uppercase;
    margin-right: 1px;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 10px;
}
.onepost-autor{
    margin: 0 16px;
    margin-top: 15px;
}
.onepost-link{
    display: inline-block;
    width: 84px;
    height: 84px;
    margin-bottom: 5px;

}
.onepost-contact{
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
    margin-left: 16px;
}
.onepost-image{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.onepost-tw{
    vertical-align: top;
    width: 98px;
    height: 15px;
    display: inline-block;
}
.onepost-item .onepost-text{
    padding: 0 4px;
    letter-spacing: -0.4px;
    line-height: 11px;
}
.onepost-table{
    display: none;
}
/* ---------/onepost-------- */
/* ---------btn-------- */
.btn_onepost{
    font-size: 10px;
    width: 68px;
    height: 15px;
    padding: 0;
    margin-left: 4px;
    margin-bottom: 8px;
}
/* ---------/btn-------- */

/*------ autor-name-------*/
.autor-name{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
/*------ /autor-name-------*/

/* --------------- @media (min-width:768px) --------------- */
@media (min-width:768px) {
    /*---- onepost----*/
    .icon-onepost {
        top: 6px;
        left: 11px;
    }
    .onepost-time {
        font-size: 12px;
        margin-left: 6px;
        margin-bottom: 34px;
    }
    .onepost-time>span{
        color: #e500a7;
        font-weight: bold;
    }
    .onepost-item p {
        padding-left: 15px;
        margin-bottom: 17px;
    }
    .onepost-title {
        font-size: 23px;
        margin-left: 8px;
        margin-bottom: 15px;
    }
    .btn_onepost .onepost-table{
        display: block;
    }
    .onepost-table{
        display: block;
    }
    .onepost-read-more {
        display: none;
    }
    .onepost-tag {
        padding: 13px 0;
        margin-bottom: 35px;
        padding-top: 49px;
        padding-bottom: 44px;
        margin-top: 30px;
        margin-left: 3px;
    }
    .onepost-tag a {
        font-size: 14px;
        margin-left: 14px;
        margin-right: -10px;
    }
    .onepost__wrap{
        overflow: hidden;
    }
    .onepost-link {
        width: 168px;
        height: 168px;
        float: left;
    }
    .onepost-autor{
        margin: 0 38px;
        margin-top: 20px;
        margin-bottom: 19px;
    }
    .onepost-contact {
        margin-left: 33px;
        margin-top: -8px;
    }
    .onepost-tw {
        width: 196px;
        height: 30px;
    }
    .onepost-item .onepost-text {
        padding: 0 4px;
        padding-left: 36px;
        letter-spacing: 0;
        line-height: 17px;
    }
    .onepost-text>span{
        color: #e500a7;
        font-weight: bold;
    }

    /*---- /onepost----*/
    /*----btn_onepost -----*/
    .btn_onepost {
        font-size: 12px;
        width: 163px;
        height: 35px;
        padding: 0;
        margin-left: 16px;
        margin-bottom: 1px;
    }
    .btn_onepost>span{
        display: none;
    }
    /*----/btn_onepost -----*/

    /*----autor-name -----*/
    .autor-name {
        font-size: 24px;
        margin-bottom: 16px;
    }
    /*----/autor-name -----*/
}