@charset "utf-8";

/*----- rev-figure-------*/
.rev-figure-reedem{
    position: relative;
    display: inline-block;
    font-weight: bold;
    margin-left: -4px;
    top: 2px;
}
.rev-elipse{
    position: relative;
    width: 58px;
    height: 58px;
    border-radius: 58px;
    background-color: #ea00b6;
    z-index: 2;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    line-height: 10px;
}
.rev-figure-reedem span{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: -1.0px;
    line-height: 6px;
}
.rev-figure-reedem:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 7px;
    background: url("../img/scisorsmob.png") no-repeat;
    top: 37px;
    left: 3px;
    z-index: 5;
}
.rev-trapeze{
    position: relative;
    width: 56px;
    height: 4px;
    margin-left: 1px;
    margin-top: -21px;
    background-color: #920071;
}

.rev-trapeze:after{
    content: "";
    position: absolute;
    left: -4px;
    bottom: 0px;
    border: 4px solid transparent;
    border-bottom: 4px solid #920071;
}
.rev-trapeze:after{
    content: "";
    position: absolute;
    right: -4px;
    bottom: 0;
    border: 4px solid transparent;
    border-bottom: 4px solid #920071;
}
.rev-square{
    position: relative;
    width: 64px;
    height: 21px;
    background-color: #38c9ff;
    margin-left: -3px;
    border-top: 1px dashed #fff;
    font-size: 10px;
    letter-spacing: -0.7px;
    line-height: 9px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    z-index: 3;
    margin-bottom: 4px;
}
.rev-square:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 11.5px solid transparent;
    border-left: 4px solid #FFFFFF;
}
.rev-square:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 11.5px solid transparent;
    border-right: 4px solid #fff;
}
.icon-sun{
    background: url('../img/revsun.png') no-repeat center;
    background-size: contain;
}
/*----- /rev-figure-------*/
.rev-deposit{
    width: 285px;
    border: 2px solid #f7a6e5;
    margin: 5px auto;
}
.rev-figure-number{
    position: relative;
    display: inline-block;
    top: -5px;
    margin-left: 5px;
    vertical-align: top;
    color: #e500a7;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.rev-figure-number span{
    font-size: 10px;
    font-weight: lighter;
    display: block;
}
.rev-square-deposit{
    height: 50px;
    width: 55px;
    background-color: #FFFFFF;
    border: 1.7px solid #E500F3;
    position: relative;
    padding-top: 15px;
}
.rev-square-deposit:before{
    content: '';
    position: absolute;
    top: 0;
    border: 3px solid transparent;
    border-bottom: 0.24px solid #8d006d;
    border-left: 3px solid #8d006d;
    right: -6px;
}
.rev-square-deposit:after{
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../img/borderdeposit.jpg') no-repeat center;
    background-size: 100% 11px;
}
.rev-descript-list{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
}
.rev-title{
   margin-bottom: 9px;
}
.item-wrap:after{
    content: '';
    background-color: #dedede;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*------show-rev-----*/
.show-rev{
    display: none;
}
/*------/show-rev-----*/
/*----- bonus-list --------*/
.bonus-list{
    font-size: 10px;
    color: #000;
    width: 144px;
    line-height: 12px;
}
.bonus-list span{
    font-weight: bolder;
}
.bonus-list .blackbox{
    background: url(../img/blackcheack.png) no-repeat 0 3px;
    padding-left: 13px;
    background-size: 9px;
}
.bonus-list .magentbox{
    background: url(../img/viollentcheack.png) no-repeat 0 3px;
    padding-left: 13px;
    background-size: 9px;
    color: #E500F3;
    font-weight: lighter;
}
/*----- /bonus-list --------*/

/*------play-now-------*/
.rev-figure-reedem  .play-now{
    font-size: 10px;
    font-weight: bold;
    text-transform: none;
    margin-left: 8px;
}
/*------/play-now-------*/

/* --------------- comments --------------- */
.show-all_none{
    display: none;
}
.comments{
  position: relative;
  margin-left: 50px;
}
.comments:before{
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -46px;
    top: 8px;
    border: 1px solid #f3f3f3;
    border-radius: 50%;
}
.comments:after{
    content: " ";
    position: absolute;
    width: 28px;
    height: 28px;
    left: -44px;
    top: 10px;
    background: #f2f2f2;
    border-radius: 50%;
}
.medal_comments{
    position: absolute;
    left: -37px;
    top: 15px;
    z-index: 3;
}
/* --------------- /comments --------------- */

/* --------------- detail --------------- */
.item-detail{
    padding-top: 7px;
}
.item-wrap{
    display: block;
    position: relative;
}
.detail{
    position: relative;
    display: block;
    padding-bottom: 13px;
    margin-bottom: 10px;
    width: 277px;
}
.detail-list{
    font-size: 10px;
    color: #000;
    width: 100%;
}
.detail-list li{
    display: table-row;
    font-weight: bold;
}
.detail-list .list-text{
    display: table-cell;
    font-weight: normal;
    width: 58%;
}
.detail-list .list-bank{
    display: table-cell;
    font-weight: normal;
    width: 39%;

}
.detail-list .list-sup {
    display: table-cell;
    font-weight: normal;
    width: 58%;
}
.detail-list li .magentbox{
    color: #e500a7;
}
.icon-bank{
    position: absolute;
    left: 1px;
    top: -1px;
    background: url('../img/icon_s.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
}
.icon-detail{
    position: absolute;
    left: 1px;
    top: -1px;
    background: url('../img/icon_i.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
}
.icon-sup{
    position: absolute;
    left: 1px;
    top: -1px;
    background: url('../img/icon-quetion.png') no-repeat center;
    background-size: contain;
    width: 16.5px;
    height: 16.5px;
}
/* --------------- /detail --------------- */

/* --------------- content-review-wrap --------------- */
.content-review-wrap{
    position: relative;
    width: 100%;
}
/* --------------- /content-review-wrap --------------- */




/* --------------- @media (min-width:768px) --------------- */
@media (min-width:768px) {

    /* --------------- comments --------------- */
    .comments:before {
        width: 60px;
        height: 60px;
        left: -73px;
        top: 31px;
    }
    .comments:after {
        width: 56px;
        height: 56px;
        left: -70px;
        top: 34px;
    }
    .medal_comments {
        left: -56px;
        top: 45px;
    }
    .comments {
        margin-left: 80px;
    }
    .show-all_none{
        display: inline-block;
    }
    /* --------------- /comments --------------- */
    /* --------------- review --------------- */
    .review_blog{
        position: absolute;
        top: 1px;
        right: 5px;
        background: none;
        border: none;
        width: 49%;
        margin-right: 7px;
    }
    .review_guide{
        padding-right: 50%;
        width: 100%;
    }
    .review_blog .from-blog-games{
        margin-top: -5px;
    }
    /* --------------- /review --------------- */
    /*--- rev-deposit------*/
    .rev-deposit {
        width: 700px;
        border: 2px solid #f7a6e5;
        margin: 5px auto;
        margin-bottom: 14px;
    }
    .rev-title {
        margin-bottom: 17px;
       padding-bottom: 17px;
        }
    .rev-figure-number {
        top: -6px;
        margin-left: 33px;
        vertical-align: top;
        font-size: 12px;
        font-weight: bold;
    }
    .rev-square-deposit {
        height: 98px;
        width: 108px;
        border: 2px solid #E500F3;
        font-size: 24px;
        padding-top: 27px;
    }
    .rev-square-deposit:after {
        content: "";
        bottom: -58px;
        background-size: 100% 22px;
    }
    .rev-figure-number span {
        font-size: 18px;
        font-weight: lighter;
        display: block;
    }
    .rev-descript-list {
        margin-left: 59px;
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .rev-elipse {
        position: relative;
        width: 116px;
        height: 116px;
        border-radius: 116px;
        font-size: 40px;
        text-align: center;
        padding-top: 34px;
        line-height: 10px;
        font-weight: lighter;
        margin-left: -1px;
    }
    .rev-trapeze {
        width: 114px;
        height: 8px;
        margin-left: -1px;
        margin-top: -43px;
    }
    .rev-trapeze:after {
        content: "";
        right: -4px;
        bottom: 0;
        border: 9px solid transparent;
        border-bottom: 16px solid #920071;
    }
    .rev-square:before {
        content: "";
        left: 0;
        bottom: 0;
        border: 21.5px solid transparent;
        border-left: 6px solid #FFFFFF;
    }
    .rev-square {
        width: 125px;
        height: 42px;
        margin-left: -7px;
        font-size: 16px;
    }
    .rev-square:after {
        content: "";
        border: 21.5px solid transparent;
        border-right: 6px solid #fff;
    }
    .rev-square-deposit:before {
        content: '';
        top: -1px;
        border-bottom: 0.24px solid #8d006d;
        border-left: 6px solid #8d006d;
        right: -11px;
    }
    .rev-figure-reedem {
        margin-left: 12px;
        top: 6px;
    }
    .rev-figure-reedem:after {
        content: "";
        width: 69px;
        height: 29px;
        background: url("../img/scisors.png") no-repeat;
        top: 74px;
        left: 5px;
    }
    .rev-figure-reedem span {
        font-size: 13px;
        display: block;
        font-weight: lighter;
        letter-spacing: 1px;
        padding-top: 17px;
    }
    .rev-square span {
        padding-top: 9px;
        padding-bottom: 7px;
    }
    .rev-figure-reedem .play-now {
        font-weight: bold;
        text-transform: none;
        padding: 0;
        position: absolute;
        bottom: -24px;
        left: 50%;
        margin-left: -41px;
    }
    .rev-figure-reedem .play-now>a>span{
        display: inline-block;
        font-size: 18px;
    }
    .rev-title{
        border-bottom: none;
        top: 2px;
    }
    .review{
        width: 100%;
    }
    .review_blog .from-blog-games li p,.review_blog .from-blog-games li span {
        display: none;
    }
    .review_blog .from-blog-games li .from-blog-descr{
        padding-bottom: 0;
    }
    .review_blog .from-blog-games li{
        width: 166px;
    }
    .review_guide .related__game{
        margin-bottom: 41px;
    }
    .item-wrap:after{
        display: none;
    }
    .play-now a{
        font-size: 18px;
    }
    /*--- /rev-deposit------*/

    /*--- icon-sun------*/
    .icon-sun {
        background: url('../img/iconmonet.png') no-repeat center;
        background-size: contain;
    }
    /*--- icon-sun------*/
    /*--------bonus-list--------*/
    .bonus-list {
        font-size: 16px;
        color: #000;
        width: 302px;
        line-height: 20px;
    }
    .bonus-list .blackbox {
        background: url(../img/blackcheack.png) no-repeat 0 3px;
        padding-left: 22px;
    }
    .bonus-list .magentbox {
        background: url(../img/viollentcheack.png) no-repeat 0 3px;
        padding-left: 22px;
    }
    /*-------- /bonus-list--------*/
    /*-------- item-wrap--------*/
    .item-wrap{
        display: inline-block;
        width: 238px;
        margin-left: -4px;
        padding: 0 17px;

    }
    /*-------- /item-wrap--------*/

    /*-------- detail--------*/
    .detail-list .list-text, .detail-list .list-bank, .detail-list .list-sup {
        display: block;
        font-weight: normal;
        width: 100%;
        padding-bottom: 1px;
    }
    .detail-list{
        font-size: 14px;
    }
    .detail-list li {
        padding-bottom: 2px;
    }
    .detail{
        border-bottom: none;
        width: 216px;
    }
    .detail:after{
        content: "";
        position: absolute;
        width: 1px;
        top: -70px;
        left: -12px;
        height: 335px;
        background-color: #dedede;
    }
    /*-------- /detail--------*/
    /*-------- icon--------*/

    .icon-detail, .icon-bank, .icon-sup{
        width: 33px;
        height: 33px;
        top: -5px;
        left: 1px;
    }
    /*-------- /icon--------*/
    /*------item-----*/
    .item-detail {
        padding-left: 4px;
        padding-top: 12px;
        position: relative;
        padding-bottom: 67px;
    }
    .item-wrap:first-child .detail:after{
        display: none;
    }
    .item-detail:after{
        content: "";
        position: absolute;
        width: 696px;
        height: 1px;
        background-color: #dedede;
        left: 17px;
        top: 58px;
    }
    /*------/item-----*/

    /*------show-rev-----*/
    .show-rev{
        display: inline-block;
        position: absolute;
        top: -10px;
        right: -2px;
    }
    .review-flag{
        margin-top: 0;
    }
    /*------/show-rev-----*/
    /*------content-review-wrap-----*/
    .content-review-wrap {
        width: 730px;
        margin: 0 auto;
    }
    /*------/content-review-wrap-----*/

}

