/* --------------- single --------------- */
.medal_single{
    vertical-align: bottom;
    margin-right: 0px;
}
.comments__scale-title{
    display: inline-block;
    width: 62px;
}
.scale_single{
    margin-bottom: 5px;
}
.scale_single-line{
    margin-left: 1px;
    margin-right: 1px;
}
.scale_gold{
    width: 94%;
}
.scale_silver{
    width: 43%;
}
.scale_bronze{
    width: 15%;
}
.scale_blank{
    width: 0;
}
.add-your{
    font-size: 10px;
    margin-top: 12px;
}
.add-your ul{
    display: inline-block;
    vertical-align: middle;
}
ul.add-your__rating li {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label > .add-your__rating_medal {
    position: relative;
    display: inline-block;
    z-index: 3;
}
input[type="radio"]:checked + label > .add-your__rating-checked {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 23px;
    height: 23px;
    left: -4px;
    top: -3px;
    background: url("../img/hover-radio-medal.png")no-repeat;
    background-size: contain;
}

.dungeons{
    font-size: 10px;
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.dungeons__characteristics{
    font-size: 10px;
    font-weight: 700;
}
.dungeons__characteristics li{
    margin-bottom: 5px;
}
.dungeons__characteristics-red{
    padding-left: 2px;
    color:#e500a7;
    font-weight: 400;
}
.dungeons__characteristics-black{
    padding-left: 2px;
    font-weight: 400;
}
.review-stats{
    width: 62%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
}
.review-stats p{
    margin-bottom: 8px;
    line-height: 13px;
    text-align: justify;
}
.votes{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
}
.review-stats .comments__scale-line {
    width: 56px;
}
.dungeons>.read_more{
    display: none;
}
.dungeons>p{
    display: none;
}
.dragons{
    position: relative;
    border-bottom: 1px solid #dedede;

}
.dungeons-rating{
    display: inline-block;
    vertical-align: middle;
    width: 195px;
    height: 18.5px;
    background: url("../img/votes-meda-blankl.jpg") repeat-x;
    background-size: contain;
}
.dungeons-rating>div{
    width: 85.5%;
    height: 100%;
    background: url("../img/votes-medal.jpg") repeat-x;
    background-size: contain;
}
.mobile-btn>.btn{
    width: 26.5px;
    height: 13px;
    float: right;
}
button img{
    position: absolute;
    width: 8.5px;
    height: 8.5px;
    top: 2px;
    margin-left: -4px;
}
.mobile-btn>button{
    margin-left: 4px;
}
.dungeons-rating-number{
    display: block;
    font-size: 10px;
    color:#c98000;
    vertical-align: middle;
    margin-top: 2px;
}
.mobile-btn {
    position: absolute;
    right: 4px;
    top: 1px;
}
.single-main-pic{
    position: relative;
    width: 100%;
    margin-top: 3px;
    padding-right: 4px;
    padding-left: 2px;
}
.single-main-pic img{
    width: 100%;
}
/* --------------- /single --------------- */
/* --------------- @media (min-width:768px) --------------- */
@media (min-width:768px) {
    input[type="radio"] + label > .add-your__rating_medal {
        width: 29px;
        height: 36px;
        margin-left: 11px;
    }
    input[type="radio"]:checked + label > .add-your__rating-checked {
        width: 46px;
        height: 46px;
        left: 2px;
        top: -5px;
    }
    /* --------------- dragons --------------- */
    .single-main-pic {
        margin-bottom: 12px;
    }
    .add-your {
        font-size: 18px;
        margin-top: 41px;
        margin-bottom: 3px;
        margin-left: 4px;
    }
    .dungeons{
        font-size: 16px;
        width: 50%;
        float: right;
        margin-top: 35px;
        padding-left: 21px;
        line-height: 19px;
    }
    .review-stats{
        width: 49%;
        margin-top: 16px;
    }
    .review-stats .comments__form {
        margin-left: 4px;
    }
    .review-stats .comments__form>input[type=submit] {
        margin-top: 17px;
    }
    .review-stats p {
        display: none;
    }
    .dungeons__characteristics{
        font-size: 16px;
        margin-bottom:20px;
    }
    .comments__scale-title {
        width: 90px;
        font-size: 16px;
    }
    .review-stats .comments__scale-line {
        width: 115px;
    }
    .medal_single {
        margin-right: 13px;
    }
    .dungeons__characteristics li {
        width: 49%;
        display: inline-block;
    }
    .dungeons>.read_more{
        display: block;
    }
    .dungeons>p {
        display: block;
        margin-bottom: 15px;
        padding-right: 11px;
        line-height: 17px;
    }
    .dungeons-rating{
        width: 380px;
        height: 37px;
        margin-left: 10px;
    }
    .dungeons-rating-number{
        display: inline-block;
        font-size: 14px;
        margin-left: 20px;
    }
    .mobile-btn>.btn{
        width: 53px;
        height: 26px;
        margin-top: -3px;
    }
    .mobile-btn>button{
        margin-left: 10px;
    }
    .mobile-btn {
        position: absolute;
        right: 13px;
        top: 1px;
    }
    button img{
        width: 17px;
        height: 17px;
        top: 2px;
        margin-left: -8px;
    }
    .single-main-pic {
        margin-bottom: 10px;
        padding-left: 9px;
        padding-right: 13px;
    }
    .dragons {
        margin-bottom: 3px;
    }
    .scale_single {
        margin-bottom: 8px;
    }
    ul.add-your__rating li {
        margin-left: 2px;
    }
    /* --------------- /dragons --------------- */

    /* --------------- latest --------------- */
    .latest__player{
        width: 45.5%;
        float:right;
    }
    .latest h3{
        margin-bottom: 17px;
        margin-top: 0;
    }
    .votes{
        margin-left: 4px;
    }
    .latest .add-your {
        margin-top: 31px;
        margin-left: 10px;
    }
    .majestic{
        margin-bottom: 15px;
        padding-bottom: 20px;
    }
    .latest__player p {
        margin-bottom: 17px;
        display: block;
        padding-right: 11px;
    }
    .latest__player:last-child{
        margin-bottom: 14px;
    }
    .all_reviews{
        display: block;
        float: none;
    }
    .majestic__slots {
        width: 139px;
        margin-left: 40px;
    }
    .majestic__slots-logo img {
        width: 113px;
        height: 63px;
    }
    .btn_play-now {
        height: 31px;
        width: 170px;
        font-size: 14px;
        margin-left: -16px;
        margin-top: 18px;
    }
    .majestic .dungeons-rating{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .majestic .dragons {
        vertical-align: top;
        padding-left: 56px;
        margin-top: 2px;
        font-size: 18px;
        margin-left: 0px;
    }
    .majestic .dungeons-rating-number {
        font-weight: 700;
        display: inline-block;
        font-size: 14px;
        margin-left: 11px;
        margin-top: 0px;
        vertical-align: top;
        padding-top: 9px;
    }
    /* --------------- /latest --------------- */
    .single_comments{
        padding-bottom: 26px;
        margin-bottom: 22px;
        padding-top: 4px;
        font-size: 30px;
    }
    .casinos-quantity{
        position: absolute;
        font-size: 14px;
        right: 90px;
        margin-top: -1px;
    }
    .title_single{
        width: 70%;
    }
    .item-icon_cub {
        top: -2px;
    }
    .all_single {
        margin-top: -4px;
    }
}
/* --------------- /@media (min-width:768px) --------------- */